@import "~scss/variables.css";

.force-image {
	min-height: 255px;
	height: 255px;
}

.force-image .specific-image {
	object-position: center;
	object-fit: cover;
	max-height: 100%;
  	max-width: 100%;
}

.product-cont {
	line-height: 2.5ex;
  	height: 7.5ex; /* 2.5ex for each visible line */
  	overflow: hidden;
}

.border_bottom {
	border-bottom: solid 5px var(--color-secondary-var);
	border-radius: 2px;
}

.spacer {
/* 	border-bottom: solid 20px #f1f1f1; */
/* 	border-radius: 0px; */
	margin-bottom: 15px;
}

.custom-bg {
	background-color: #f1f1f1;
}

.loader {
	height: 100vh;
}

.route-active {
	color: black !important;
}

.listing-img {
	position: relative;
    overflow: hidden;
}

.listing-img > img {
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}