<main class="main-content loader" *ngIf="products.length === 0">
	<!-- LOADER -->
</main>
<main class="main-content" *ngIf="products.length > 0">

	<div class="container">
		<div class="row">
			<div class="col-sm-12 main-col">
				<div class="toolbar">
				</div>
				<div class="products" *ngIf="products.length > 0">
					<div class="products-grid">
						<div class="grid_item col-xs-12 col-sm-6 col-md-4 col-lg-3 spacer" *ngFor="let product of products">
							<div class="product_image border_bottom">
								<a [routerLink]="['/product', product.id]" class="force-image"> 
									<img class="specific-image" [lazyLoad]="getImageUrl(product)" [defaultImage]="defaultImage" alt=""> 
								</a>
								<div class="action-buttons">
									<a class="btn-action add-to-cart" (click)="addToCart(product)" title="Select Options">
										<span class="icon icon-cart" aria-hidden="true"></span>
									</a>
									<button type="button" class="btn-action btn-quickview" title="Quick View" [routerLink]="['/product', product.id]">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</button>
								</div>
							</div>
							<div class="product_detail custom-bg">
								<h3 class="product_name product-cont">
									<b><a [routerLink]="['/product', product.id]">{{ product.title }}</a></b>
								</h3>
								<p>
									Van {{ product.retail_price | currency:'EUR':'true' }}
								</p>
								<p>
									<label *ngIf="product.qs_choice === '1'" class="new">Qs Choice</label>
									<span class="product_price">
										<span>Voor {{ product.price_total_netto*1.21 | currency:'EUR':'true' }}</span>
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="pagination" *ngIf="pagination">
					<div class="row">
						<div class="col-sm-3 left">
							<p class="pagination-num-showing">
								Producten: 
								{{ pagination.items_per_page*(page-1)+1 }}
								-
								{{ pagination.items_per_page*page > pagination.total_items ? pagination.total_items : pagination.items_per_page*page }} van {{ pagination.total_items }}
							</p>
						</div>
						<div class="col-sm-9 right">
							<ul>
								<li [ngClass]="pageNumber === page ? 'active' : ''" *ngFor="let pageNumber of pageNumbers">
									<a *ngIf="unparsedType && groupId" title="" [routerLink]="['', unparsedType, groupId]" [queryParams]="{ page: pageNumber }">{{ pageNumber }}</a>
									<a *ngIf="!unparsedType || !groupId" title="" routerLink="/producten" [queryParams]="{ page: pageNumber }">{{ pageNumber }}</a>
								</li>
								<li *ngIf="pageNumbers.length > 5" class="next">
									<a href="#" title=""><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>