<!-- SITE MAIN CONTENT -->
<main class="main-content">

	<section class="block-banner-1 mb60">
		<div class="container">
			<div class="block-banner_caption">
				<h2>Hoe werkt het?</h2>
			</div>
		</div>
	</section>

	<div class="container">
		<h1 class="pageTitle">Personeelsshop</h1>
		<p>Profiteer hier van de allerbeste December Deals! Alle producten die je wilt bestellen kun je eenvoudig in je winkelwagentje leggen en vervolgens direct afrekenen met iDeal. Houd er rekening mee dat je één keer per week je bestelling kunt ophalen in het magazijn in ’s-Hertogenbosch. Dit is op woensdag. Bestellingen geplaatst voor woensdag 12:00 zijn op dezelfde woensdag nog af te halen. Alle bestellingen geplaatst na woensdag 12:00, zijn de week erna op woensdag op te halen. Happy shopping!</p>
	</div>
</main>