<!-- SITE MAIN CONTENT -->
<main class="main-content">

	<section class="block-banner-1 mb60">
		<div class="container">
			<div class="block-banner_caption">
				<h2>Boost your business</h2>
			</div>
		</div>
	</section>

	<div class="container">
		<h1 class="pageTitle">Over ons</h1>
		<p>Gezamenlijk Voordeel is dé B2B leverancier op het gebied van consumentenelektronica. Met alle (A)-merken in het assortiment is het uw partner die gehele ontzorging biedt.</p>
		<hr/>
		<h1 style="color: #F26639;">LET US BOOST YOUR BUSINESS!</h1>
		<p>Met het grootste assortiment in consumentenelektronica van de Benelux zijn wij dé partij voor alle je Business-to-Business en projectmatige aankopen. Laat je door ons ondersteunen bij onderstaande vraagstukken:</p>
		<ul>
			<li>Aankopen m.b.t. projectinrichting (woningbouw, hospitality etc.) en eigen gebruik voor je onderneming.</li>
			<li>Invulling voor je community platform (personeelsshop, gesloten ledenplatform).</li>
			<li>Ontwikkeling en invulling van je loyaliteitsprogramma.</li>
		</ul>
		<p>Boost je business met ons assortiment en expertise, wij bieden altijd een oplossing.</p>
	</div>
</main>