<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main>
	
	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	            
	            	<div class="tt-empty">
	                    <i class="icon-ok" style="font-size: 16rem; color: #50C878;"></i>
	                    <div class="tt-page__name text-center">
	                        <h1>Bestelling succesvol!</h1>
	                        <p>
	                        	De bestelling is succesvol geplaatst! Je kunt je order terugvinden in 'Mijn Account'.
                          </p>
                      </div>
                      <div class="tt-empty__btn">
                        <a routerLink="/my-account" href="javascript:void(0);" class="btn">Direct naar 'Mijn Account'</a>
                      </div>
	                </div>
	            
	            </div>
            </div>
        </div>
        
    </main>

</ng-container>