<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main>
	
	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	            
	            	<div class="tt-empty">
	                    <i class="icon-ok" style="font-size: 16rem; color: #50C878;"></i>
	                    <div class="tt-page__name text-center">
	                        <h1>E-mail succesvol gevalideerd!</h1>
	                        <p>
	                        	Je e-mailadres is succesvol gevalideerd. Je bent nog een stap verwijderd van toegang tot de shop. Je ontvangt een e-mail zodra de desbetreffende organisatie de validatie heeft uitgevoerd.
	                        </p>
	                    </div>
	                </div>
	            
	            </div>
            </div>
        </div>
        
    </main>

</ng-container>