.usp-background {
	background-color: #f1f1f1;
	padding-left: 10px;
}

.custom-size {
	font-size: 30px;
}

.red {
	color: red !important;
}

.green {
	color: green !important;
}

.loader {
	height: 100vh;
}

.tt-product-head__images {
	visibility: visible;
}

@media (min-width: 0px) and (max-width: 1400px) {
    .tt-big-container {
        display: none !important;
    }
}

@media (min-width: 1400px) and (max-width: 14000px) {
    .tt-small-container {
        display: none !important;
    }
}