<ng-container *ngIf="globals.theme == 'nexgeek'">

<main class="main-content loader" *ngIf="!product"> 
	<!-- LOADER -->
</main>
<main class="main-content" *ngIf="product"> 		
	
	<div class="container" style="margin-top: 20px;" itemscope itemtype="http://schema.org/Product">
	
		<div class="row product-single"> 
			
			<!-- PRODUCT GALLERY -->
			<div class="col-sm-7 text-center">
				<div class="product-single_photos" id="ProductPhoto">
					<img [src]="product?.image_url"alt="" class="ProductPhotoImg zoom">
				</div>
			</div>
			
			<!-- PRODUCT GALLERY -->
			<div class="col-sm-5">
			
				<h1 class="custom-size">{{ product?.title }}</h1>
				
				<!-- PRODUCT prev-next -->
				<span class="spr-badge">
					<span class="spr-starrating spr-badge-starrating">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i> 
				
						<!-- remove hidden class from below line as per your requirment --> 
						<i class="fa fa-star hidden" aria-hidden="true"></i>
						<i class="fa fa-star-half hidden" aria-hidden="true"></i>
						<i class="fa fa-star-half-o hidden" aria-hidden="true"></i>
					</span>
				</span> 
				
				<div class="usp-background">
					<ul class="product-short-des" style="white-space: pre-line;">
						<li style="list-style-type: disc !important;" *ngFor="let usp of extractUniqueSellingPoints(product?.unique_selling_points)">{{ usp }}</li>
					</ul>
				</div>
				
				<!-- PRICE -->
				<div class="product-price">
					<span class="ProductPrice h2">{{ product?.price_total_netto*1.21 | currency:'EUR':'true' }}</span>
				</div>
				
				<!-- AVAILABILITY, SKU -->
				<div class="product-info">
					<p class="product-sku">Reguliere prijs   <span>{{ product?.retail_price | currency:'EUR':'true' }}</span></p>
					<p class="product-sku">BTW <span>21%</span></p>
					<p *ngIf="product?.id !== '1471271'" class="product-stock">Voorraad <span class="instock" [ngClass]="getStockColor(product)">{{ getStockStatus(product) }} </span> </p>
					<p *ngIf="product?.id !== '1471271'" class="product-type">Product type <span>{{ product?.category_name }}</span></p>
					<p class="product-type">Merk <span>{{ product?.brand_name }}</span></p>
					<p class="product-sku">EAN <span>{{ product?.ean }}</span></p>
				</div>
				
				<!-- PRODUCT SHORT DESC. -->
				<p class="product-short-des" style="white-space: pre-line;" *ngIf="minimumOrderQuantity === 3">
					<b>Let op:</b> dit artikel is enkel per {{ minimumOrderQuantity }} te bestellen.
				</p>
				
				<div class="product-attribute" *ngIf="product?.id === '1471271'">
					<form class="form-vertical">
						<hr/>
						<h1>VERZILVER JE KORTINGSBON</h1>
						<div class="actions">
							
							<div class="product-qty">
								<input type="text" [(ngModel)]="couponCode" name="couponCode" />
							</div>
							<button type="submit" [disabled]="couponCode === ''" class="btn"> 
								Verzilver
							</button>
						</div>
					</form>
					<hr/>
				</div>
				
				<div class="product-attribute" *ngIf="product?.id !== '1471271'">
					<form class="form-vertical">
						<hr/>
						<div class="actions">
							
							<div class="product-qty" *ngIf="product?.variations_count > 1">
								<label class="quantity-selector">Kleur: </label>
								<select>
									
								</select>
							</div>
						
							<div class="product-qty">
								<label class="quantity-selector">Aantal</label>
								<div class="input-group spinner number">
									<button class="spinbtn btnminus" type="button" [disabled]="amount === minimumOrderQuantity" (click)="amount = amount - minimumOrderQuantity">
										<span aria-hidden="true" class="fa fa-minus"></span>
									</button>
									<input type="text" class="txt-qty" [value]="amount">
									<button class="spinbtn btnplus" type="button" (click)="amount = amount + minimumOrderQuantity">
										<span aria-hidden="true" class="fa fa-plus"></span>
									</button>
								</div>
							</div>
							<button type="submit" class="btn" (click)="addToCart()"> 
								<span class="fa fa-shopping-cart" aria-hidden="true"></span>
								Voeg toe
							</button>
						</div>
					</form>
					<hr/>
				</div>
				
			</div>
		</div>
		
		<!-- TABS -->
		<div class="product-tabs">
			<ul class="nav nav-tabs">
				<li [ngClass]="selectedTab === 'product-detail' ? 'active' : ''">
					<a data-toggle="tab" (click)="selectedTab = 'product-detail'" title="Product Details">Product details</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="tab1" class="tab-pane fade in active" *ngIf="selectedTab === 'product-detail'">
					<div class="product-description" itemprop="description" style="white-space: pre-line;"> 
						<div *ngIf="product" [innerHTML]="getDescription(product)"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</main>

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main>
	
	    <div class="tt-layout tt-sticky-block__parent " *ngIf="product">
	        <div class="tt-layout__content">
	            <div class="container">
	                <div class="tt-product-page">
	
	                    <div class="tt-product-head tt-sticky-block__parent">
	                        <div class="tt-product-head__sticky tt-sticky-block tt-layout__mobile-full">
	                        
	                            <div class="tt-product-head__images tt-sticky-block__inner tt-product-head__single-mobile">
	                            
	                            		<div class="tt-product-head__image-main tt-big-container">
	                            			<img [src]="product.image_urls[selectedImageIndex]" />
									</div>
	                                <div class="tt-product-head__image-preview tt-big-container">
                                			<img *ngFor="let image of product.image_urls; let i = index;" [src]="image" (click)="selectedImageIndex = i" (mouseenter)="selectedImageIndex = i" alt="product">
                            	   		</div>
                            	   		
                            	   		<div class="tt-small-container">
                           	   			<swiper [config]="mainSliderConfig" [(index)]="selectedImageIndex" class="tt-product-head__image-main">
											<div *ngFor="let image of product.image_urls">
												<img [src]="image" alt="" />
											</div>
										</swiper>
                            	   		</div>
                            	   		
	                            </div>
	                            
	                        </div>
	                        
	                        <div class="tt-product-head__sticky tt-sticky-block">
	                            <div class="tt-product-head__info tt-sticky-block__inner">
	                                <form action="#">
	                                    <div class="tt-product-head__category"><a>{{ product.category_name }}</a>
	                                    </div>
	                                    <div class="tt-product-head__name"><h1>{{ product.title }}</h1></div>
	                                    <div class="tt-product-head__price">
	                                        <div class="tt-price">
	                                            <span>{{ product.price_total_netto*1.21 | currency:'EUR':'true' }}</span>
	                                        </div>
	                                    </div>
	                                    <div class="tt-product-head__more-detailed"><p>{{ product.description_short }}</p></div>
	                                    <div class="tt-product-head__control">
	                                        <div class="tt-product-head__counter tt-counter tt-counter__inner" data-min="1" data-max="10">
	                                            <input type="text" class="form-control" value="{{ amount }}">
	                                            <div class="tt-counter__control">
	                                                <span class="icon-up-circle" data-direction="next" (click)="amount = amount + 1"></span>
	                                                <span class="icon-down-circle" data-direction="prev" (click)="amount !== 0 ? (amount = amount - 1) : (amount = 0);"></span>
	                                            </div>
	                                        </div>
	                                        <a (click)="addToCart()" href="javascript:void(0);" class="tt-product-head__cart tt-btn tt-btn--cart colorize-btn6">
	                                            <i class="icon-shop24"></i>
	                                            <span>Voeg toe aan winkelwagen</span>
	                                        </a>
	                                    </div>
	                                    <div class="tt-product-head__tags"><span>Tags:</span>
	                                        <a href="#">Wireless</a>,
	                                        <a href="#">Built-In Microphone</a>,
	                                        <a href="#">Bluetooth Enabled</a>
	                                    </div>
	                                    <div class="addthis_inline_share_toolbox"></div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="tt-product-page__tabs tt-tabs tt-layout__mobile-full" data-tt-type="horizontal">
	                        <div class="tt-tabs__head">
	                            <div class="tt-tabs__slider">
	                                <div class="tt-tabs__btn" data-active="true"><span>Omschrijving</span></div>
	                                <div class="tt-tabs__btn"><span>Aanvullende informatie</span></div>
	                            </div>
	                            <div class="tt-tabs__btn-prev"></div>
	                            <div class="tt-tabs__btn-next"></div>
	                            <div class="tt-tabs__border"></div>
	                        </div>
	                        <div class="tt-tabs__body tt-tabs-product">
	                            <div>
	                                <span>Omschrijving <i class="icon-down-open"></i></span>
	                                <div class="tt-tabs__content">
	                                    <div class="tt-tabs__content-head">Omschrijving</div>
	                                    <p>
	                                    		
	                                    </p>
	                                </div>
	                            </div>
	                            <div>
	                                <span>Aanvullende informatie <i class="icon-down-open"></i></span>
	                                <div class="tt-tabs__content">
	                                    <div class="tt-tabs__content-head">Aanvullende informatie</div>
	                                    <table class="table">
	                                        <tr>
	                                            <td>Headphone Fit</td>
	                                            <td>Over-the-Ear</td>
	                                        </tr>
	                                        <tr>
	                                            <td>Wireless</td>
	                                            <td>Yes</td>
	                                        </tr>
	                                        <tr>
	                                            <td>Headphone Fit</td>
	                                            <td>Yes</td>
	                                        </tr>
	                                        <tr>
	                                            <td>Built-In Bluetooth</td>
	                                            <td>Yes</td>
	                                        </tr>
	                                        <tr>
	                                            <td>Built-In Microphone</td>
	                                            <td>Yes</td>
	                                        </tr>
	                                        <tr>
	                                            <td>Behind The Neck</td>
	                                            <td>Yes</td>
	                                        </tr>
	                                    </table>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="tt-product-page__upsell">
	                        <div class="tt-product-page__upsell-title">You may also be interested in the follwing
	                            product(s)
	                        </div>
	                        <div class="tt-carousel-box">
	                            <div class="tt-product-view">
	                                <div class="tt-carousel-box__slider">
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-01.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-01.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                                <div class="tt-product__labels">
	                                                    <span class="tt-label__new">New</span>
	                                                    <span class="tt-label__hot">Hot</span>
	
	                                                    <span class="tt-label__sale">Sale</span>
	                                                    <span class="tt-label__discount">$22</span>
	
	                                                    <div><span class="tt-label__out-stock">Out Stock</span></div>
	                                                    <div><span class="tt-label__in-stock">In Stock</span></div>
	                                                </div>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">Headphones</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price tt-price--sale">
	                                                    <span>$22</span>
	                                                    <span>$28</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__stars tt-stars">
	                                                            <span class="ttg-icon"></span>
	                                                            <span class="ttg-icon" style="width:86%;"></span>
	                                                        </div>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart tt-btn__state--active">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like tt-btn__state--active">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare tt-btn__state--active">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-02.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-02.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">Phone</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price">
	                                                    <span>$46</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__stars tt-stars">
	                                                            <span class="ttg-icon"></span>
	                                                            <span class="ttg-icon" style="width:35%;"></span>
	                                                        </div>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-03.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-03.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                                <div class="tt-product__labels">
	                                                    <span class="tt-label__sale">Sale</span>
	                                                    <span class="tt-label__discount">$32</span>
	                                                </div>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">USB</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price tt-price--sale">
	                                                    <span>$32</span>
	                                                    <span>$38</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-04.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-04.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">Category</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price">
	                                                    <span>$14</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-05.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-05.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">Category</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price">
	                                                    <span>$24</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-06.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-06.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">Category</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price">
	                                                    <span>$28</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-07.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-07.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">Category</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price">
	                                                    <span>$58</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-6 col-xl-3">
	                                        <div class="tt-product tt-product__view-overlay ttg-text-animation-parent">
	                                            <div class="tt-product__image">
	                                                <a href="product-simple-variant-1.html">
	                                                    <img src="assets/templates/mogo/images/loader.svg" data-srcset="assets/templates/mogo/images/products/product-08.jpg"
	                                                         data-retina="assets/templates/mogo/images/products/product-08.jpg"
	                                                         alt="Elegant and fresh. A most attractive mobile power supply.">
	                                                </a>
	                                            </div>
	                                            <div class="tt-product__hover tt-product__clr-clk-transp">
	                                                <div class="tt-product__content">
	                                                    <h3>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="listing-with-custom-html-block.html">Category</a>
	                                            </span>
	                                                    </h3>
	                                                    <p>
	                                            <span class="ttg-text-animation--emersion">
	                                                <a href="product-simple-variant-1.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                            </span>
	                                                    </p>
	                                                    <p class="tt-product__description">Sed ut perspiciatis unde omnis iste natus
	                                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
	                                                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
	                                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
	                                                    <div class="ttg-text-animation--emersion">
	                                            <span class="tt-product__price">
	                                                <span class="tt-price">
	                                                    <span>$19</span>
	                                                </span>
	                                            </span>
	                                                    </div>
	                                                    <div class="ttg-text-animation--emersion">
	                                                        <div class="tt-product__buttons">
	                                                            <a href="#" class="tt-btn colorize-btn5 tt-product__buttons_cart">
	                                                                <i class="icon-shop24"></i>
	                                                                <span>Add to Cart</span>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_like">
	                                                                <i class="icon-heart-empty-2"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_compare">
	                                                                <i class="icon-untitled-1"></i>
	                                                            </a>
	                                                            <a href="#" class="tt-btn colorize-btn4 tt-product__buttons_qv">
	                                                                <i class="icon-eye"></i>
	                                                            </a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	
	</main>

</ng-container>