.usp-background {
	background-color: #f1f1f1;
	padding-left: 10px;
}

.custom-size {
	font-size: 30px;
}

.red {
	color: red !important;
}

.green {
	color: green !important;
}

.loader {
	height: 100vh;
}

.tt-product-head__images {
	visibility: visible;
}

tt-product-head__image-preview {
	display: flex;
}