<ng-container *ngIf="globals.theme == 'nexgeek'">
  <main class="main-content loader" *ngIf="!product">
    <!-- LOADER -->
  </main>
  <main class="main-content" *ngIf="product">
    <div class="container" style="margin-top: 20px;" itemscope itemtype="http://schema.org/Product">
      <div class="row product-single">
        <!-- PRODUCT GALLERY -->
        <div class="col-sm-7 text-center">
          <div class="product-single_photos" id="ProductPhoto">
            <img [src]="product?.image_url" alt="" class="ProductPhotoImg zoom">
          </div>
        </div>
        <!-- PRODUCT GALLERY -->
        <div class="col-sm-5">
          <h1 class="custom-size">{{ product?.title }}</h1>
          <!-- PRODUCT prev-next -->
          <span class="spr-badge">
							<span class="spr-starrating spr-badge-starrating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
                <!-- remove hidden class from below line as per your requirment -->
								<i class="fa fa-star hidden" aria-hidden="true"></i>
								<i class="fa fa-star-half hidden" aria-hidden="true"></i>
								<i class="fa fa-star-half-o hidden" aria-hidden="true"></i>
							</span>
						</span>
          <div class="usp-background">
            <ul class="product-short-des" style="white-space: pre-line;">
              <li style="list-style-type: disc !important;" *ngFor="let usp of extractUniqueSellingPoints(product?.unique_selling_points)">{{ usp }}</li>
            </ul>
          </div>
          <!-- PRICE -->
          <div class="product-price">
            <span class="ProductPrice h2">{{ product?.price_total_netto*1.21 | currency:'EUR':'true' }}</span>
          </div>
          <!-- AVAILABILITY, SKU -->
          <div class="product-info">
            <p class="product-sku">Reguliere prijs
              <span>{{ product?.retail_price | currency:'EUR':'true' }}</span>
            </p>
            <p class="product-sku">BTW
              <span>21%</span>
            </p>
            <p *ngIf="product?.id !== '1471271'" class="product-stock">Voorraad
              <span class="instock" [ngClass]="getStockColor(product)">{{ getStockStatus(product) }} </span>
            </p>
            <p *ngIf="product?.id !== '1471271'" class="product-type">Product type
              <span>{{ product?.category_name }}</span>
            </p>
            <p class="product-type">Merk
              <span>{{ product?.brand_name }}</span>
            </p>
            <p class="product-sku">EAN
              <span>{{ product?.ean }}</span>
            </p>
          </div>
          <!-- PRODUCT SHORT DESC. -->
          <p class="product-short-des" style="white-space: pre-line;" *ngIf="minimumOrderQuantity === 3">
            <b>Let op:</b> dit artikel is enkel per {{ minimumOrderQuantity }} te bestellen.

          </p>
          <div class="product-attribute" *ngIf="product?.id === '1471271'">
            <form class="form-vertical">
              <hr/>
              <h1>VERZILVER JE KORTINGSBON</h1>
              <div class="actions">
                <div class="product-qty">
                  <input type="text" [(ngModel)]="couponCode" name="couponCode" />
                </div>
                <button type="submit" [disabled]="couponCode === ''" class="btn">
                  Verzilver
                </button>
              </div>
            </form>
            <hr/>
          </div>
          <div class="product-attribute" *ngIf="product?.id !== '1471271'">
            <form class="form-vertical">
              <hr/>
              <div class="actions">
                <div class="product-qty" *ngIf="product?.variations_count > 1">
                  <label class="quantity-selector">Kleur: </label>
                  <select></select>
                </div>
                <div class="product-qty">
                  <label class="quantity-selector">Aantal</label>
                  <div class="input-group spinner number">
                    <button class="spinbtn btnminus" type="button" [disabled]="amount === minimumOrderQuantity" (click)="amount = amount - minimumOrderQuantity">
                      <span aria-hidden="true" class="fa fa-minus"></span>
                    </button>
                    <input type="text" class="txt-qty" [value]="amount">
                    <button class="spinbtn btnplus" type="button" (click)="amount = amount + minimumOrderQuantity">
                      <span aria-hidden="true" class="fa fa-plus"></span>
                    </button>
                  </div>
                </div>
                <button type="submit" class="btn" (click)="addToCart()">
                  <span class="fa fa-shopping-cart" aria-hidden="true"></span> Voeg toe

                </button>
              </div>
            </form>
            <hr/>
          </div>
        </div>
      </div>
      <!-- TABS -->
      <div class="product-tabs">
        <ul class="nav nav-tabs">
          <li [ngClass]="selectedTab === 'product-detail' ? 'active' : ''">
            <a data-toggle="tab" (click)="selectedTab = 'product-detail'" title="Product Details">Product details</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane fade in active" *ngIf="selectedTab === 'product-detail'">
            <div class="product-description" itemprop="description" style="white-space: pre-line;">
              <div *ngIf="product" [innerHTML]="getDescription(product)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>
<ng-container *ngIf="globals.theme == 'mogo'">
  <!-- MAIN -->
  <main>
    <div class="tt-layout tt-sticky-block__parent " *ngIf="product">
      <div class="tt-layout__content">
        <div class="container">
          <div class="tt-product-page">
            <div class="tt-product-head tt-sticky-block__parent">
              <div class="tt-product-head__sticky-left tt-sticky-block tt-layout__mobile-full">
                <div class="tt-product-head__images tt-sticky-block__inner tt-product-head__single-mobile">
                  <div class="tt-product-head__image-main tt-big-container">
                    <img [src]="product.image_urls[selectedImageIndex]" />
                  </div>
                  <div class="tt-product-head__image-preview tt-big-container">
                    <img *ngFor="let image of product.image_urls; let i = index;" [src]="image" (click)="selectedImageIndex = i" (mouseenter)="selectedImageIndex = i" alt="product">
                  </div>
                  <div class="tt-small-container">
                    <swiper [config]="mainSliderConfig" [(index)]="selectedImageIndex" class="tt-product-head__image-main">
                      <div *ngFor="let image of product.image_urls">
                        <img [src]="image" alt="" />
                      </div>
                    </swiper>
                  </div>
                </div>
              </div>

              <div class="tt-product-head__sticky-right tt-sticky-block">
                <div class="tt-product-head__info tt-sticky-block__inner">
                  <form action="#">
                    <div class="tt-product-head__category custom-color">
                      <a>{{ product.category_name }}</a>
                    </div>
                    <div class="tt-product-head__name">
                      <h1>{{ product.title }}</h1>
                    </div>
                    <div class="tt-product-head__price">
                      <div class="tt-price">
                        <span>{{ product.price_total_netto*1.21 | currency:'EUR':'true' }}</span>
                      </div>
                    </div>
                    <div class="tt-product-head__more-detailed">
                      <ul class="ttg-list" style="padding-left: 12px;">
                        <li *ngFor="let usp of extractUniqueSellingPoints(product.unique_selling_points)">{{ usp }}</li>
                      </ul>
                    </div>

                    <div *ngIf="product.category_name == 'TV'" style="color: #D03637;">
                      Cashback acties van de merken zijn niet geldig in combinatie met deze aanbieding.<br><br>
                    </div>

                    <div class="tt-product-head__control">
                      <div class="tt-product-head__counter tt-counter tt-counter__inner" data-min="1" data-max="10">
                        <input type="text" class="form-control" value="{{ amount }}">
                        <div class="tt-counter__control">
                          <span class="icon-up-circle" data-direction="next" (click)="amount = amount + 1"></span>
                          <span class="icon-down-circle" data-direction="prev" (click)="amount !== 0 ? (amount = amount - 1) : (amount = 0);"></span>
                        </div>
                      </div>
                      <a (click)="addToCart()" href="javascript:void(0);" class="tt-product-head__cart tt-btn tt-btn--cart colorize-btn6">
                        <i class="icon-shop24"></i>
                        <span>Voeg toe aan winkelwagen</span>
                      </a>
                    </div>

                    <div class="tt-product-head__control" *ngIf="product.available == 0">
                      <span class="red">Tijdelijk uitverkocht</span>
                    </div>
                    <div class="addthis_inline_share_toolbox"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tt-product-page__tabs tt-tabs tt-layout__mobile-full" data-tt-type="horizontal">
          <div class="tt-tabs__body tt-tabs-product">
            <div *ngIf="show === 'description'">
              <div class="tt-tabs__content" style="display: block !important; max-width: 1830px !important; text-align: justify;">
                <div class="container">
                <div class="tt-tabs__content-head">Omschrijving</div>
                <div style="white-space: pre-line;">
                  <div [innerHTML]="getDescription(product)"></div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>
