<!-- SITE FOOTER -->
<footer class="site-footer"> 
	<span id="scroll-top" (click)="scrollTop()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
	<div class="container">
		<div class="footer-bottom">
			<div class="row">
				<div class="col-md-6"> &copy; 2017 Gezamenlijk Voordeel B.V.<br/>Alle rechten voorbehouden.<br/>*Dit geldt voor bestellingen op werkdagen.</div>
				<div class="col-md-6 text-right footer--top">
					<h3>Volg ons op Social Media</h3>
					<ul class="social">
						<li class="youtube"><a href="https://www.youtube.com/channel/UCLYHvTeCAEp1mZklJ0rQgag" title="Youtube" target="_blank"><i aria-hidden="true" class="fa fa-youtube "></i> </a> </li>
						<li class="linkedin"><a href="https://www.linkedin.com/company/gezamenlijkvoordeel-nl" title="LinkedIn"  target="_blank"><i aria-hidden="true" class="fa fa-linkedin "></i> </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>