<ng-container *ngIf="globals.theme === 'mogo'">
	
	<!-- MAIN -->
	<main>
	    <div class="tt-layout tt-sticky-block__parent ">
	        <div class="tt-layout__content">
	            <div class="container">
	                <div class="tt-page__breadcrumbs">
	                    <ul class="tt-breadcrumbs">
	                        <li><a href="index.html"><i class="icon-home"></i></a></li>
	                        <li><a href="listing-collections.html">Collections</a></li>
	                        <li><span>Audio</span></li>
	                    </ul>
	                </div>
	
	                <div class="tt-page__name text-center">
	                    <h1>Login</h1>
	                    <span>/</span>
	                    <a href="register.html">Register</a>
	                </div>
	
	                <div class="tt-login">
	                    <form action="#">
	                        <div class="tt-form">
	                            <div class="tt-form__form">
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">E-mailadres:</span>
	                                        </div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control"
	                                                   placeholder="E-mailadres..">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Wachtwoord:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="password" class="form-control"
	                                                   placeholder="Wachtwoord...">
	                                        </div>
	                                    </div>
	                                </label>
	                            </div>
	                        </div>
	                        <div class="row ttg-mt--40">
	                            <div class="col-md-9 offset-md-3">
	                                <button type="submit" class="btn">Inloggen</button>
	                            </div>
	                        </div>
	                        <div class="row ttg-mt--40">
	                            <div class="col-md-5 col-sm-6 offset-md-3">
	                                <label class="tt-checkbox">
	                                    <input type="checkbox">
	                                    <span></span>
	                                    <p>Onthoud mij</p>
	                                </label>
	                            </div>
	                            <div class="col-md-4 col-sm-6 text-right"><a href="#">Wachtwoord vergeten?</a></div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</main>
	
</ng-container>