<ng-container *ngIf="globals.theme === 'nexgeek'">

	<main class="main-content" style="background-color: var(--color-primary-var);">

		<section class="block-banner" style="background-size: contain;">
			
			<div class="container">
				<div class="row">
					<div class="hidden-sm col-md-3"></div>
					<div class="col-md-6" class="block-banner_caption">
						<h2>{{ globals.name }}</h2>
						<h1 class="pageTitle text-center">Toegang tot de loyalty shop</h1>
						<div id="CustomerLoginForm" class="form-vertical">
							<form accept-charset="UTF-8" (ngSubmit)="login()">
								<label class="hidden-label">Wachtwoord</label>
								<input type="password" class="input-full" placeholder="Wachtwoord" [(ngModel)]="pass" name="pass" >
								<p>
									<input type="button" class="btn btn--full" value="Inloggen" (click)="login()" />
								</p>
							</form>
						</div>
					</div>
					<div class="hidden-sm col-md-3"></div>
				</div>
			</div>
			
		</section>
	
	</main>

</ng-container>
<ng-container *ngIf="globals.theme === 'mogo'">
	
	<!-- MAIN -->
	<main>
	    <div class="tt-layout tt-sticky-block__parent ">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>Inloggen</h1>
	                    <span>/</span>
	                    <a routerLink="/registreren">Registreren</a>
	                </div>
	
	                <div class="tt-login">
	                    <form style="box-sizing: border-box !important;">
	                        <div class="tt-form">
	                            <div class="tt-form__form">
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">E-mailadres:</span>
	                                        </div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="username" name="username"  placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Wachtwoord:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="password" class="form-control colorize-theme6-bg" [(ngModel)]="password" name="password" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                            </div>
	                        </div>
	                        <div class="row ttg-mt--40">
	                            <div class="col-md-9 offset-md-3">
	                                <button type="submit" [disabled]="!username || !password" class="btn" (click)="loginServer()" [promiseBtn]="loginPromise">Inloggen</button>
	                            </div>
	                        </div>
	                        <div class="row ttg-mt--40">
	                            <div class="col-md-4 col-sm-6 text-right"><a href="#">Wachtwoord vergeten?</a></div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</main>
	
</ng-container>