<!-- SITE MAIN CONTENT -->
<main class="main-content">
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9910.886073128719!2d5.475192!3d51.609991!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb90d2c9701314ae!2sGezamenlijk+Voordeel+B.V.!5e0!3m2!1snl!2snl!4v1509119961530" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="container">
		<h1 class="pageTitle">Neem contact op</h1>
		<div  class="row">
			<div class="col-md-9 form-col">
				<p>Heb je een vraag over een van de producten in de personeelsshop? Of wil je meer weten over Gezamenlijk Voordeel? Vul dan het contactformulier in en wij nemen binnen 24 uur contact met je op. Je kunt ons ook direct bereiken op onderstaande contactgegevens. </p>
				<div class="form-vertical">
					<form (ngSubmit)="onSubmit()" #contactForm="ngForm" id="contact_form" class="contact-form" accept-charset="UTF-8">
						<input type="hidden" value="contact" name="form_type" />
						<input type="hidden" name="utf8" value="✓" />
						<label for="ContactFormName" class="hidden-label">Naam</label>
						<input type="text" id="ContactFormName" class="input" name="contact[name]" [(ngModel)]="data.name" placeholder="Naam"  value="" required>
						<label for="ContactFormEmail" class="hidden-label">E-mail</label>
						<input type="email" id="ContactFormEmail" class="input" name="contact[email]" [(ngModel)]="data.emailaddress" placeholder="E-mailadres" value="" required>
						<label for="ContactFormPhone" class="hidden-label">Telefoonnummer</label>
						<input type="tel" id="ContactFormPhone" class="input" name="contact[phone-number]" [(ngModel)]="data.phone_number" placeholder="Telefoonnummer" pattern="[0-9\-]*" value="">
						<label for="ContactFormMessage" class="hidden-label">Bericht</label>
						<textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" [(ngModel)]="data.message" placeholder="Bericht" required></textarea>
						<label [hidden]="!messageSent">Bedankt voor je bericht! We nemen zo snel mogelijk contact met je op.</label>
						<input [disabled]="!contactForm.form.valid" type="submit" class="btn right" value="Verstuur">
					</form>
				</div>
			</div>
			<div class="col-md-3 ">
				<div class="detail-col">
					<h4>WIJ HELPEN GRAAG!</h4>
					<p class="line"></p>
					<p>U vindt onze contactgegevens hieronder.</p>
					<p><strong>Gezamenlijk Voordeel B.V.</strong> <br>
						Lorentzweg 1<br>
						5482 TP Schijndel<br>
						Nederland</p>
					<p>
						<strong>Email:</strong> <a href="mailto:info@gezamenlijkvoordeel.nl">info@gezamenlijkvoordeel.nl</a>
					</p>
					<p class="open-hours"><strong>Openingstijden:</strong><br>
						Werkdagen: 09:00 - 17:00
				</div>
			</div>
		</div>
	</div>
</main>