<ng-container *ngIf="globals.theme == 'nexgeek'">

	<main class="main-content"> 
		<div class="container">
			<h1 class="pageTitle">Winkelwagen</h1>
			
			<div *ngIf="order && order.orderLines.length === 0">
				<div class="lead">De winkelwagen is leeg.</div>
			</div>
			
			<form novalidate class="cart table-wrap" *ngIf="order && order.orderLines.length > 0">
				<table class="cart-table full table--responsive">
					<thead class="cart__row cart__header-labels">
						<tr>
							<th colspan="2" class="text-center">Product</th>
							<th class="text-center">Prijs</th>
							<th class="text-center">Aantal</th>
							<th class="text-right">Totaal</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cart__row" *ngFor="let order_line of order.orderLines">
							<td>
								<a class="cart__remove" title="Remove" (click)="removeFromCart(order_line)">
									<i class="fa fa-times" aria-hidden="true"></i>
								</a>
								<a [routerLink]="['/product', order_line.product.id]" class="cart__image">
									<img [src]="order_line.product.image_url" alt="">
								</a>
							</td>
							<td>
								<a [routerLink]="['/product', order_line.product.id]">
									{{ order_line.product.title }}
								</a>
								<br />
								<small>{{ order_line.product.category_name }}</small>
								<p class="cart-variant">{{ order_line.product.brand_name }}</p>
							</td>
							<td data-label="Prijs" class="price">{{ order_line.product?.price_total_netto*1.21 | currency:'EUR':true }}</td>
							<td data-label="Aantal" class="qty" style="text-align: center; vertical-align: middle;">
								<div class="input-group spinner number" style="float: none !important;">
									<button class="spinbtn btnminus" type="button" [disabled]="order_line.count === getOrderQuantity(order_line)" (click)="adjustOrderLine(order_line, -getOrderQuantity(order_line))">
										<span aria-hidden="true" class="fa fa-minus"></span>
									</button>
									<input type="text" class="txt-qty" [value]="order_line.count">
									<button class="spinbtn btnplus" type="button" (click)="adjustOrderLine(order_line, getOrderQuantity(order_line))">
										<span aria-hidden="true" class="fa fa-plus"></span>
									</button>
								</div>
							</td>
							<td data-label="Totaal" class="text-right">{{ getOrderLineSubtotal(order_line) | currency:'EUR':true }}</td>
						</tr>
					</tbody>
				</table>
				<div class="row cart__row">
					<div class="col-sm-8 col-lg-9">
						<label for="CartSpecialInstructions" class="orderNote">Opmerkingen</label>
						<textarea name="note" class="input-full" id="CartSpecialInstructions" [(ngModel)]="remarks"></textarea>
					</div>
					<div class="col-sm-4 col-lg-3 text-right pull-right cat-total">
						<p><span class="cart__subtotal-title">Totaal</span> <span class="h3 cart__subtotal"><span class=money>{{ getOrderTotal() | currency:'EUR':true }}</span></span></p>
						<button name="checkout" class="btn" type="button" (click)="goToPlaceOrder()">Bestellen</button>
					</div>
				</div>
			</form>
		</div>
	</main>

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main *ngIf="order.orderLines.length > 0">
	
	    <div class="tt-layout tt-sticky-block__parent ">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>Winkelwagen</h1>
	                </div>
	
	                <div class="tt-cart">
	                    <div class="row">
	                        <div class="col-lg-8">
	                            <div class="tt-cart__caption">
	                                <div class="row">
	                                    <div class="col-md-7"><span>Product</span></div>
	                                    <div class="col-md-2 text-center"><span>Prijs</span></div>
	                                    <div class="col-md-1 text-center"><span>Aantal</span></div>
	                                    <div class="col-md-2 text-center"><span>Totaal</span></div>
	                                </div>
	                            </div>
	                            <div class="tt-cart__list">
	                                <div class="tt-cart__product" *ngFor="let order_line of order.orderLines">
	                                    <div class="row">
	                                        <div class="col-md-7">
	                                            <a (click)="removeFromCart(order_line)" href="javascript:void(0);" class="tt-cart__product_del"><i class="icon-trash"></i></a>
	                                            <a href="#" class="tt-cart__product_image"><img [src]="order_line.product.image_urls[0]" alt="image"></a>
	                                            <div class="tt-cart__product_info">
	                                                <a [routerLink]="['/product', order_line.product.id]"><p>{{ order_line.product.title }}</p></a>
	                                                <p>Categorie: <span>{{ order_line.product.category_name }}</span></p>
	                                                <p>Merk: <span>{{ order_line.product.brand_name }}</span></p>
	                                            </div>
	                                        </div>
	                                        <div class="col-md-2 col-xs-4 text-center">
	                                            <div class="tt-cart__product_price">
	                                                <div class="tt-price">
	                                                    <span>{{ order_line.product?.price_total_netto*1.21 | currency:'EUR':'true' }}</span>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-md-1 col-xs-4 text-center">
	                                            <div class="tt-counter tt-counter__inner" data-min="1" data-max="10">
	                                                <input type="text" class="form-control" value="{{ order_line.count }}">
	                                                <div class="tt-counter__control">
	                                                    <span class="icon-up-circle" data-direction="next" (click)="adjustOrderLine(order_line, getOrderQuantity(order_line))"></span>
	                                                    <span class="icon-down-circle" data-direction="prev" (click)="adjustOrderLine(order_line, -getOrderQuantity(order_line))"></span>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-md-2 col-xs-4 text-center">
	                                            <div class="tt-cart__product_price">
	                                                <div class="tt-price">
	                                                    <span>{{ getOrderLineSubtotal(order_line) | currency:'EUR':'true' }}</span>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-lg-4">
	                            <div class="tt-summary">
	                                <div class="">
	                                    <h4>Totalen</h4>
	                                    <p style="font-size: 0.7em;">Alle bedragen zijn inclusief korting en 21% BTW.</p>
	                                </div>
	                                <br />
	                                <div class="tt-summary__form">
	                                    <h5 class="ttg-mb--20">Verzendkosten</h5>
	                                    <p>Vanaf {{ getDeliveryCost() | currency:'EUR':'true' }}</p>
	                                </div>
	                                <br />
	                                <div class="tt-summary__form tt-summary--border" *ngIf="globals.hasBudget">
	                                    <h5 class="ttg-mb--20">Huidig budget</h5>
	                                    <p>Je resterende budget bedraagt {{ budget | currency:'EUR':'true' }}</p>
	                                    <p style="font-size: 0.7em;">Na de bestelling zal het budget verminderd worden met het bedrag van de bestelling inclusief BTW en exclusief verzendkosten.</p>
	                                </div>
	                                <div class="tt-summary__total">
	                                    <p>Subtotaal: <span>{{ getOrderTotal() | currency:'EUR':'true' }}</span></p>
	                                </div>
	                                <div class="tt-summary__total tt-summary__total--lg">
	                                    <p>Totaal: <span>{{ getOrderTotal()+getDeliveryCost() | currency:'EUR':'true' }}</span></p>
	                                </div>
	                                <a href="javascript:void(0);" routerLink="/winkelwagen/bestellen" class="tt-summary__btn-checkout btn btn-type--icon colorize-btn6" *ngIf="(globals.hasBudget && getOrderTotal() <= budget) || !globals.hasBudget">
	                                	<i class="icon-check"></i><span>Verder</span>
	                                </a>
	                                <p *ngIf="globals.hasBudget && getOrderTotal() > budget" class="ttg-mt--30 ttg-mb--10" style="color: white; background-color: indianred; padding: 10px;">
	                                	<i class="icon-cancel" style="color: white; padding-right: 10px;"></i>
	                                	Je huidige budget is niet toereikend om deze bestelling te plaatsen. In 'Mijn Account' kun je je budget controleren.
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	
	</main>
	
	<main *ngIf="order.orderLines.length == 0">
		<div class="tt-layout tt-sticky-block__parent ">
	        <div class="tt-layout__content">
	            <div class="container">
	                <div class="tt-empty">
	                    <i class="tt-empty__icon"><img src="assets/templates/mogo/images/empty/empty-shopping-cart.svg" alt=""></i>
	                    <div class="tt-page__name text-center">
	                        <h1>Leeg</h1>
	                        <p>Er zitten nog geen producten in de winkelwagen.</p>
	                    </div>
	                    <div class="tt-empty__btn">
	                        <a routerLink="/home" href="javascript:void(0);" class="btn">Beginnen met shoppen</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</main>

</ng-container>
