<ng-container *ngIf="globals.theme == 'nexgeek'">

<!-- SITE MAIN CONTENT -->
<main class="main-content">
	<div class="container">
		<h1 class="pageTitle">Retouren & Garantie</h1>
		<h3>Retouren of ruilen</h3>
		<p>
			Een aankoop retourneren of ruilen voor een ander product? Uiteraard is dat bij Gezamenlijk Voordeel gewoon mogelijk! De volgende voorwaarden zijn dan van toepassing:
		</p>
		<p>Voorwaarden</p>
		<ul>
			<li>Retourneren binnen 14 dagen na aankoop;</li>
			<li>Retourneren is mogelijk als het product nog in de originele verpakking zit;</li>
			<li>De retourzending wordt geaccepteerd met volledig ingevuld retourformulier;</li>
			<li>Voeg tevens (een kopie van) het aankoopbewijs toe;</li>
			<li>Nadat de bestelling retour gekomen is, wordt het aankoopbedrag direct teruggestort;</li>
		</ul>
		<p>Meld je retour altijd bij onze klantenservice. Omdat je zelf verantwoordelijk bent voor de retourzending, adviseren wij altijd een track & trace code én bewijs van verzending te vragen bij het postkantoor.</p>
		<h3>Garantie</h3>
		<p>Wij controleren de producten altijd voordat deze verstuurd worden. Mocht je desondanks niet tevreden zijn, bel dan met onze klantenservice. Zij zullen je naar tevredenheid verder helpen. Aangezien wij overtuigd zijn van de kwaliteit van onze producten, krijg je 24 maanden garantie. </p>
	</div>
</main>

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	
	<main>

	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>Retouren & Garantie</h1>
	                    <p>Gezamenlijk Voordeel helpt je graag bij een retour. Op deze pagina lees je alles over de retouren en garantie.</p>
	                </div>
	
	                <div class="ttg-mt--40">
	                    <div class="ttg-image-scale" style="max-height: 350px; display: flex; align-items: center;">
	                        <img src="assets/templates/mogo/images/services/returns-01.jpg" alt="">
	                    </div>
	                </div>
					
					<div class="tt-page__name-sm text-center ttg-mt--90">
						<h3>Retouren of ruilen</h3>
						<p>
							Een aankoop retourneren of ruilen voor een ander product? Uiteraard is dat bij Gezamenlijk Voordeel gewoon mogelijk! De volgende voorwaarden zijn dan van toepassing:
						</p>
						<p><b>Voorwaarden</b></p>
						<ul>
							<li>Retourneren binnen 14 dagen na aankoop;</li>
							<li>Retourneren is mogelijk als het product nog in de originele verpakking zit;</li>
							<li>De retourzending wordt geaccepteerd met volledig ingevuld retourformulier;</li>
							<li>Voeg tevens (een kopie van) het aankoopbewijs toe;</li>
							<li>Nadat de bestelling retour gekomen is, wordt het aankoopbedrag direct teruggestort;</li>
						</ul>
						<p>Meld je retour altijd bij onze klantenservice. Deze is te bereiken op +31736110151 of mail naar info@gezamenlijkvoordeel.nl. Omdat je zelf verantwoordelijk bent voor de retourzending, adviseren wij altijd een track & trace code én bewijs van verzending te vragen bij het postkantoor.</p>
						<h3>Garantie</h3>
						<p>Wij controleren de producten altijd voordat deze verstuurd worden. Mocht je desondanks niet tevreden zijn, bel dan met onze klantenservice. Zij zullen je naar tevredenheid verder helpen. Aangezien wij overtuigd zijn van de kwaliteit van onze producten, krijg je 24 maanden garantie. </p>
	                	
	                	<br/>
	                	<a href="https://www.gezamenlijkvoordeel.nl/Retourformulier.pdf" target="_blank" class="btn btn--lg ttg-mb--30">Download retourformulier</a><br/>
	                
	                </div>
	                
	                <div class="row ttg-grid-padding--none">
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--left">
	                            <img src="assets/templates/mogo/images/services/services-02.jpg" alt="Image name">
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--top">
	                            <img src="assets/templates/mogo/images/services/services-03.jpg" alt="Image name">
	                        </div>
	                    </div>
	                </div>
				</div>
	        </div>
	    </div>
	
	</main>
	

</ng-container>