<!-- SITE MAIN CONTENT -->
<main class="main-content">
	<div class="container">
		<h1 class="pageTitle">Retouren & Garantie</h1>
		<h3>Retouren of ruilen</h3>
		<p>
			Een aankoop retourneren of ruilen voor een ander product? Uiteraard is dat bij Gezamenlijk Voordeel gewoon mogelijk! De volgende voorwaarden zijn dan van toepassing:
		</p>
		<p>Voorwaarden</p>
		<ul>
			<li>Retourneren binnen 14 dagen na aankoop;</li>
			<li>Retourneren is mogelijk als het product nog in de originele verpakking zit;</li>
			<li>De retourzending wordt geaccepteerd met volledig ingevuld retourformulier;</li>
			<li>Voeg tevens (een kopie van) het aankoopbewijs toe;</li>
			<li>Nadat de bestelling retour gekomen is, wordt het aankoopbedrag direct teruggestort;</li>
		</ul>
		<p>Meld je retour altijd bij onze klantenservice. Omdat je zelf verantwoordelijk bent voor de retourzending, adviseren wij altijd een track & trace code én bewijs van verzending te vragen bij het postkantoor.</p>
		<h3>Garantie</h3>
		<p>Wij controleren de producten altijd voordat deze verstuurd worden. Mocht je desondanks niet tevreden zijn, bel dan met onze klantenservice. Zij zullen je naar tevredenheid verder helpen. Aangezien wij overtuigd zijn van de kwaliteit van onze producten, krijg je 24 maanden garantie. </p>
	</div>
</main>