<ng-container *ngIf="globals.theme == 'nexgeek'">

	<!-- SITE MAIN CONTENT -->
	<main class="main-content">
		<div class="container">
			<h1 class="pageTitle">Verzending & Bezorging</h1>
			<p>Vóór 19:00 uur besteld? Morgen in huis!</p> 
			<p>
				Producten die bij ons op voorraad zijn én op werkdagen vóór 19:00 uur zijn besteld, worden de eerstvolgende dag geleverd! Bestellingen geplaatst in het weekend worden op dinsdag bezorgd.
				In onze webshop is gemakkelijk te zien of het gewenste product op voorraad is. Indien een product momenteel niet voorradig is, wordt deze besteld bij onze leverancier en binnen 5 tot 10 werkdagen geleverd.
				<br/>
				Wij verzorgen de verzending met PostNL.
			</p>
		</div>
	</main>

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	
	<main>

	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>Verzending & Bezorging</h1>
	                    <p>Alle informatie over de verzending en bezorging van een bestelling</p>
	                </div>
	
	                <div class="ttg-mt--40">
	                    <div style="max-height: 350px; display: flex; align-items: center;  overflow: hidden;">
	                        <img src="assets/templates/mogo/images/services/shipment-01.jpg" alt="">
	                    </div>
	                </div>
					
					<div class="tt-page__name-sm ttg-mt--90">
						<h4>Vóór 22:00 uur besteld? Morgen in huis!</h4>
						<br />
						<p>
							Producten die bij ons op voorraad zijn én op werkdagen vóór 22:00 uur zijn besteld, worden de eerstvolgende dag geleverd! Bestellingen geplaatst in het weekend worden op dinsdag bezorgd.
							Indien een product momenteel niet voorradig is, wordt deze besteld bij onze leverancier en binnen 5 tot 10 werkdagen geleverd. Wij nemen dan contact met je op.
						</p>
	                </div>
					
	                <!-- <div class="row ttg-grid-padding--none">
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--left">
	                            <img src="assets/templates/mogo/images/services/services-02.jpg" alt="Image name">
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--top">
	                            <img src="assets/templates/mogo/images/services/services-03.jpg" alt="Image name">
	                        </div>
	                    </div>
	                </div> -->
				</div>
	        </div>
	    </div>
	
	</main>
	

</ng-container>
