<!-- SITE MAIN CONTENT -->
<main class="main-content">
	<div class="container">
		<h1 class="pageTitle">Verzending & Bezorging</h1>
		<p>Vóór 22:00 uur besteld? Morgen in huis!</p> 
		<p>
			Producten die bij ons op voorraad zijn én op werkdagen vóór 22:00 uur zijn besteld, worden de eerstvolgende dag geleverd! Bestellingen geplaatst in het weekend worden op dinsdag bezorgd.
			In onze webshop is gemakkelijk te zien of het gewenste product op voorraad is. Indien een product momenteel niet voorradig is, wordt deze besteld bij onze leverancier en binnen 5 tot 10 werkdagen geleverd.
			<br/>
			Wij verzorgen de verzending met PostNL.
		</p>
	</div>
</main>