<ng-container *ngIf="globals.theme == 'mogo'">

	<main>

	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>
	                    	<ng-container *ngIf="globals.language == 'NL'">Privacy Beleid</ng-container>
                    		<ng-container *ngIf="globals.language == 'EN'">Privacy Policy</ng-container>
                    	</h1>
	                    <p>
	                    	<ng-container *ngIf="globals.language == 'NL'">U krijgt toegang tot de Sony shop door het accepteren van ons privacy beleid</ng-container>
	                    	<ng-container *ngIf="globals.language == 'EN'">Access to the Sony Loyalty shop is being granted when the privacy policy is accepted.</ng-container>
                    	</p>
	                </div>
	
	                <div class="ttg-mt--40">
	                    <div class="ttg-image-scale" style="max-height: 350px; display: flex; align-items: center;">
	                        <img src="assets/templates/mogo/images/services/cookie-01.jpg" alt="">
	                    </div>
	                </div>
					
					<div class="tt-page__name-sm text-center ttg-mt--90">
					
						<ng-container *ngIf="globals.language == 'NL'">
						
							<p>Gezamenlijk Voordeel B.V. (hierna: Gezamenlijk Voordeel) respecteert de privacy van alle gebruikers van haar websites en draagt er zorg voor dat uw persoonlijke gegevens zorgvuldig en vertrouwelijk worden behandeld. Het doel van deze Privacy en Cookie Policy is u te informeren over de manier hoe Gezamenlijk Voordeel voldoet aan de Algemene verordening gegevensbescherming (AVG) en waarop Gezamenlijk Voordeel gebruik maakt van uw persoonsgegevens. Deze geldt voor de websites GezamenlijkVoordeel.nl en Quecom.nl.</p>
		
							<h3>Persoonsgegevens</h3>
							<p>De persoonsgegevens die u aan Gezamenlijk Voordeel verstrekt, bijvoorbeeld bij het verzoek om informatie, bij het inloggen of registreren, of het bestellen van een van onze producten worden opgenomen in de database van Gezamenlijk Voordeel. Het gaat dan onder meer om de volgende persoonsgegevens:
							</p>
							
							<ul>
								<li>NAW gegevens</li>
								<li>E-mailadres</li>
								<li>Telefoonnummer</li>
								<li>Inhoud van de bestelling</li>
							</ul>

							<p>De volgende persoonsgegevens worden automatisch verzameld bij het inloggen:</p>

							<ul>
								<li>E-mailadres</li>
								<li>IP-adres (locatie en verbindingsgegevens)</li>
							</ul>

							<h3>Doel</h3>
							<p>Uw persoonsgegevens kunnen door Gezamenlijk Voordeel onder meer gebruikt worden voor de volgende doeleinden:</p>
							
							<ul>
								<li>Administratie</li>
								<li>Afhandeling van uw bestelling</li>
								<li>Verstrekken van informatie over producten en diensten</li>
								<li>Product- en dienst ontwikkeling</li>
								<li>Verbetering van de website</li>
								<li>Marktonderzoek en statistische analyses</li>
								<li>Transport informatie</li>
								<li>Naleving en uitvoering van verplichtingen op grond van wet- en regelgeving</li>
								<li>Ter nakoming van afspraken met u (bijvoorbeeld het leveren van de zending)</li>
							</ul>

							<h3>Verwerking door en verstrekking aan derden</h3>
							<p>Gezamenlijk Voordeel kan uw gegevens verstrekken aan derden die betrokken zijn bij de uitvoering van uw bestelling of de dienstverlening van Gezamenlijk Voordeel, waaronder de vervoerders waar Gezamenlijk Voordeel gebruik van maakt.</p>
							<p>Tevens kunnen uw gegevens door derden worden verwerkt voor marktonderzoek of statistische analyses met betrekking tot de dienstverlening en het gebruik van de website. Gezamenlijk Voordeel zal met deze derden afspraken maken om ervoor te zorgen dat de vertrouwelijkheid van uw persoonsgegevens worden gerespecteerd. Dit is vastgelegd in een verwerkersovereenkomst. </p>
							<p>Wij zullen uw persoonsgegevens niet bekend maken aan rechtshandhavers, andere overheidsfunctionarissen of andere derden zonder gerechtelijk bevel of formeel verzoek van de overheid in overeenstemming met geldende wetgeving, tenzij Gezamenlijk Voordeel te goeder trouw meent dat de bekendmaking van informatie gerechtvaardigd is.</p>

							<h3>Beveiliging</h3>
							<p>Wij zullen alle redelijke organisatorische en technische beveiligingsmaatregelen treffen om uw persoonsgegevens te beveiligen en deze te beschermen tegen verlies en oneigenlijk gebruik of aanpassing. De gegevens die u opgeeft bij registratie en bestellingen worden via een beveiligd protocol over het net gestuurd. Gezamenlijk Voordeel laat dagelijks een virus check uitvoeren, teneinde zoveel mogelijk te waarborgen dat onze internetsite virusvrij is en blijft.</p>

							<h3>Bewaren van uw persoonsgegevens</h3>
							<p>Wij bewaren uw gegevens niet langer dan noodzakelijk voor de verwerkelijking van de doeleinden waarvoor zij zijn verzameld en verwerkt. Wij verwijderen uw gegevens eveneens indien geconstateerd wordt dat deze zijn verouderd of wanneer de betrokkene zelf om verwijdering verzoekt, zie ‘Inzage en correctie’. Gegevens die gekoppeld zijn aan een account, worden bewaard tot het account wordt verwijderd. Vorengaande bewaartermijnen gelden niet indien er sprake is van een wettelijke uitzondering, of ingeval we deze gegevens langer nodig hebben voor onze dienstverlening of een geschil.</p>

							<h3>Inzage en correctie</h3>
							<p>U heeft het recht Gezamenlijk Voordeel te verzoeken om inzage in uw persoonsgegevens. Gezamenlijk Voordeel zal op uw verzoek binnen vier weken een overzicht verstrekken van alle persoonsgegevens die Gezamenlijk Voordeel van u verwerkt. Indien uw gegevens onjuist zijn zal Gezamenlijk Voordeel deze op uw verzoek wijzigen. Tevens kunt u verzoeken uw persoonsgegevens te laten verwijderen of af te schermen.</p>
							<p>Voor deze verzoeken of vragen over deze Privacy en Cookie Policy kunt  u contact met Gezamenlijk Voordeel opnemen via 073 – 6110151 of privacy@amazingcompany.eu. Een schriftelijk verzoek kunt u sturen naar:</p>

							<p>
								Gezamenlijk Voordeel B.V.<br/>
								Lorentzweg 1<br/>
								5482 TP Schijndel
							</p>

							<p>Voor alle aanvullende informatie over de bescherming van persoonsgegevens en uw rechten kunt u terecht op de website Autoriteit Persoonsgegevens (AP): https://www.autoriteitpersoonsgegevens.nl/nl.</p>

							<h3>Klachten</h3>
							<p>Als u een klacht heeft of een andere vraag omtrent de verwerking van uw persoonsgegevens, kunt u een e-mailbericht sturen naar privacy@amazingcompany.eu. Wij vragen u hierbij zoveel mogelijk informatie omtrent uw klacht of vraag mee te zenden. Wij zullen klachten en vragen in behandeling nemen en uiterlijk binnen vier weken reageren. Wij doen er alles aan om u zo goed mogelijk van dienst te zijn. Indien u niet tevreden bent met de afhandeling van de klacht, kunt u hierover contact opnemen met de Autoriteit Persoonsgegevens en desgewenst een klacht indienen.</p>

							<h3>Cookies</h3>
							<p>Op onze websites wordt gebruik gemaakt van cookies. Met een cookie worden bepaalde gegevens van een websitebezoeker op uw apparaat opgeslagen en bij een volgend bezoek weer uitgelezen. De cookies worden voornamelijk geplaatst om de gebruikservaring van de websites van Gezamenlijk Voordeel te verbeteren en aan uw wensen aan te passen. Gezamenlijk Voordeel maakt op haar websites gebruik van functionele cookies, analytische cookies en cookies om een chatfunctie mogelijk te maken.</p>

							<p><i>Functionele cookies</i></p>
							<p>Dit zijn cookies die ervoor zorgen dat er producten in een winkelmandje opgeslagen kunnen worden, inloggen met inloggegevens etc. Zonder deze cookies zouden deze functionaliteiten niet werken.</p>

							<p><i>Analytische cookies</i></p>
							<p>Met gebruik van Google Analytics wordt bijgehouden hoe de websites van Gezamenlijk Voordeel worden gebruikt. Zo kan Gezamenlijk Voordeel de kwaliteit van de websites verbeteren. De informatie die met behulp van de cookies van Google Analytics wordt verkregen kan worden overgebracht naar en kan worden opgeslagen op servers in de Verenigde Staten. Lees voor meer informatie het privacybeleid van Google Analytics.</p>

							<p><i>Chatfunctie cookies</i></p>
							<p>Om u de mogelijkheid te bieden om via een chatfunctie direct te kunnen communiceren met onze medewerkers, maakt Gezamenlijk Voordeel gebruik van cookies van Smartsupp. Voor meer informatie over deze cookies kunt u hier meer lezen. Lees voor meer informatie tevens het beleid van Smartsupp. </p>

							<p><i>Verwijderen cookies</i></p>
							<p>Meer informatie omtrent het in- en uitschakelen en het verwijderen van cookies kunt u vinden in de instructies en/of met behulp van de Help-functie van uw browser. Meer informatie over cookies en het verwijderen daarvan kunt u tevens vinden via 
								“Wat zijn cookies?”, “Waarvoor dienen cookies?”, “Cookies verwijderen” en “Cookies uitschakelen”.</p>

							<p><i>Weigeren cookies</i></p>
							<p>De meeste browsers bieden u de mogelijkheid om het plaatsen van cookies te weigeren. Hieronder treft u een overzicht van browsers en een bijbehorende handleiding om cookies te weigeren. Het weigeren van cookies kan een negatieve invloed hebben op de werking van onze website:</p>
							
							<ul>
								<li>Apple Safari</li>
								<li>Google Chrome</li>
								<li>Microsoft Internet Explorer</li>
								<li>Mozilla Firefox</li>
							</ul>

							<h3>Wijzigingen</h3>
							<p>Gezamenlijk Voordeel behoudt zich het recht voor om wijzigingen aan te brengen in deze Privacy en Cookie Policy. Elke aanpassing zal op deze pagina op de website worden gepubliceerd. Gezamenlijk Voordeel raadt u aan dit gedeelte daarom regelmatig te raadplegen.</p>

							<p><i>Contactgegevens Gezamenlijk Voordeel:</i></p>
							<p>Indien u vragen heeft over deze Privacy en Cookie Policy of over de wijze waarop wij uw persoonsgegevens verwerken, kunt u ons bereiken op de volgende manieren:</p>

							<ul>
								<li>per e-mail: privacy@amazingcompany.eu</li>
								<li>per post: Gezamenlijk Voordeel, De Tweeling 24a, 5215 MC ‘s-Hertogenbosch</li>
								<li>telefonisch: 073 - 6110151</li>
							</ul>

							<p>Deze pagina is voor het laatste bijgewerkt op: 4 mei 2018.</p>

	                	</ng-container>
	                	
	                	<ng-container *ngIf="globals.language == 'EN'">
							
							<p>Gezamenlijk Voordeel B.V. (Henceforth be known as : Gezamenlijk Voordeel) respects the privacy of all users of its websites and ensures that your personal information is treated carefully and confidentially. The purpose of this Privacy and Cookie Policy is to inform you about how Gezamenlijk Voordeel complies with the Algemene verordening gegevensbescherming (AVG) and on which Gezamenlijk Voordeel uses your personal data. This applies to the websites GezamenlijkVoordeel.nl and Quecom.nl.</p>
		
							<h3>Personal data</h3>
							<p>The personal data you provide to Gezamenlijk Voordeel, for example when requesting information, when logging in or registering, or ordering one of our products are included in the database of Gezamenlijk Voordeel. This concerns, among other things, the following personal data:</p>
							
							<ul>
								<li>NAW data</li>
								<li>E-mail address</li>
								<li>Phone number</li>
								<li>Content of the order</li>
							</ul>

							<p>The following personal data are automatically collected when logging in:</p>

							<ul>
								<li>E-mail address</li>
								<li>IP address (location and connection data)</li>
							</ul>

							<h3>Target</h3>
							<p>Your personal data can be used by Gezamenlijk Voordeel for the following purposes:</p>
							
							<ul>
								<li>Administration</li>
								<li>Handling of your order</li>
								<li>Providing information about products and services</li>
								<li>Product and service development</li>
								<li>Improvement of the website</li>
								<li>Market research and statistical analyzes</li>
								<li>Transport information</li>
								<li>Compliance with and implementation of obligations based on legislation and regulations</li>
								<li>To fulfill agreements with you (for example delivering the shipment)</li>
							</ul>

							<h3>Processing by and distribution to third parties</h3>
							<p>Gezamenlijk Voordeel may provide your data to third parties that are involved in the execution of your order or the services of Gezamenlijk Voordeel, including the carriers that use Gezamenlijk Voordeel.</p>
							<p>Your data may also be processed by third parties for market research or statistical analyzes with regard to the services and use of the website. Shared Benefit will make agreements with these third parties to ensure that the confidentiality of your personal data is respected. This is laid down in a processor agreement.</p>
							<p>We will not disclose your personal information to law enforcement officers, other government officials or other third parties without a court order or formal request from the government in accordance with applicable legislation, unless Gezamenlijk Voordeel in good faith is that the disclosure of information is justified.</p>

							<h3>Security</h3>
							<p>We will take all reasonable organizational and technical security measures to protect your personal information and protect it against loss and improper use or modification. The data you enter on registration and orders are sent over the net via a secure protocol. Gezamenlijk Voordeel allows a virus check to be carried out every day in order to ensure as far as possible that our internet site is and remains virus-free.</p>

							<h3>Save your personal data</h3>
							<p>We do not store your data longer than necessary for the realization of the purposes for which they were collected and processed. We will also delete your data if it is determined that they are out of date or if the person concerned requests removal himself, see 'Inspection and correction'. Data associated with an account is retained until the account is deleted. Preservation periods do not apply if there is a legal exception, or if we need this information for a longer period of time for our services or a dispute.</p>

							<h3>Consultation and correction</h3>
							<p>You have the right to request Gezamenlijk Voordeel to inspect your personal details. Gezamenlijk Voordeel will, at your request, provide you with an overview of all personal data that is processed by you together within four weeks. If your details are incorrect, Gezamenlijk Voordeel will change them at your request. You can also request that your personal data be removed or protected.</p>
							<p>For these requests or questions about this Privacy and Cookie Policy, you can contact Gezamenlijk Voordeel via 073 - 6110151 or privacy@amazingcompany.eu. You can send a written request to:</p>

							<p>
								Gezamenlijk Voordeel B.V.<br/>
								Lorentzweg 1<br/>
								5482 TP Schijndel
							</p>

							<p>For all additional information about the protection of personal data and your rights, please visit the website of the Dutch Authority for the Protection of Personal Data (AP): https://www.autoriteitpersoonsgegevens.nl/nl.</p>

							<h3>Complaints</h3>
							<p>If you have a complaint or have another question about the processing of your personal data, you can send an e-mail to privacy@amazingcompany.eu. We ask you to include as much information about your complaint or question as possible. We will process complaints and questions and respond within four weeks at the latest. We do everything we can to provide you with the best possible service. If you are not satisfied with the handling of the complaint, you can contact the Authority Persoonsgegevens and, if desired, submit a complaint. </p>

							<h3>Cookies</h3>
							<p>Cookies are used on our websites. With a cookie, certain data from a website visitor is stored on your device and read out again on a subsequent visit. The cookies are mainly placed to improve the user experience of the websites of the Common Advantage and to adapt to your wishes. Gezamenlijk Voordeel uses functional cookies, analytical cookies and cookies on its websites to enable a chat function.</p>

							<p><i>Functional cookies</i></p>
							<p>These are cookies that ensure that products can be stored in a shopping cart, log in with login details etc. Without these cookies these functionalities would not work.</p>

							<p><i>Analytical cookies</i></p>
							<p>Using Google Analytics, we keep track of how the Gezamenlijk Voordeel websites are used. This way, Gezamenlijk Voordeel can improve the quality of the websites. The information obtained with the help of Google Analytics cookies can be transferred to and stored on servers in the United States. For more information, read the privacy policy of Google Analytics.</p>

							<p><i>Chat function cookies</i></p>
							<p>In order to offer you the possibility to communicate directly with our employees via a chat function, Gezamenlijk Voordeel uses cookies from Smartsupp. For more information about these cookies you can read more here. For more information, also read the Smartsupp policy.</p>

							<p><i>Delete cookies</i></p>
							<p>More information about switching on and off and removing cookies can be found in the instructions and / or using the help function of your browser. You can also find more information about cookies and their removal via "What are cookies?", "What are cookies for?", "Deleting cookies" and "Disabling cookies".</p>

							<p><i>Refuse cookies</i></p>
							<p>Most browsers offer you the possibility to refuse the placing of cookies. Below you will find an overview of browsers and an accompanying manual to refuse cookies. The refusal of cookies can have a negative influence on the operation of our website:</p>
							
							<ul>
								<li>Apple Safari</li>
								<li>Google Chrome</li>
								<li>Microsoft Internet Explorer</li>
								<li>Mozilla Firefox</li>
							</ul>

							<h3>Amendments</h3>
							<p>Gezamenlijk Voordeel reserves the right to make changes to this Privacy and Cookie Policy. Every modification will be published on this page on this website. Gezamenlijk Voordeel advises you to consult this section regularly.</p>

							<p><i>Contact information Gezamenlijk Voordeel:</i></p>
							<p>If you have questions about this Privacy and Cookie Policy or about the way we process your personal data, you can reach us in the following ways:</p>

							<ul>
								<li>by e-mail: privacy@amazingcompany.eu</li>
								<li>by post: Gezamenlijk Voordeel, De Tweeling 24a, 5215 MC ‘s-Hertogenbosch</li>
								<li>by telephone: 073 - 6110151</li>
							</ul>

							<p>This page was last updated on: May 4, 2018.</p>

	                	</ng-container>
	                	
	                </div>
	                
	                <!-- ACCEPT BUTTON -->
	                <div style="display: flex; justify-content: center; width: 100%; margin: 20px 0px;">
	               		<button type="submit" class="btn" (click)="accept()">
	                   		<ng-container *ngIf="globals.language == 'NL'">Accepteer het privacy beleid</ng-container>
	                     	<ng-container *ngIf="globals.language == 'EN'">Accept the privacy policy</ng-container>
                        </button>
	                </div>
					
	                <div class="row ttg-grid-padding--none">
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--left">
	                            <img src="assets/templates/mogo/images/services/services-02.jpg" alt="Image name">
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--top">
	                            <img src="assets/templates/mogo/images/services/services-03.jpg" alt="Image name">
	                        </div>
	                    </div>
	                </div>
				</div>
	        </div>
	    </div>
	
	</main>
	

</ng-container>