.nexgeek-theme {

.op-left {
    display: block;
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

.show-cs {
	display: block !important;
}

.border-right {
	border-right: solid 2px white;
}

.border-left {
	border-left: solid 2px white;
}

.nav-bar-custom {
	background-color: #f1f1f1;
}

.main-menu-custom .main-nav > li > a {
	color: black;
}

.main-menu-custom .main-nav > li > a:hover {
	color: white;
}

.main-menu-custom .main-nav > li.site-nav--active > a {
	color: white !important;
}

}

	.adjust-height {
		height: 80px;
	}
	
.mogo-is-sticky {
	position: fixed;
    width: 100% !important;
    left: 0 !important;
    min-height: 60px;
}