.op-left {
    display: block;
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

.show-cs {
	display: block !important;
}

.border-right {
	border-right: solid 2px white;
}

.border-left {
	border-left: solid 2px white;
}

.nav-bar-custom {
	background-color: #f1f1f1;
}

.main-menu-custom .main-nav > li > a {
	color: black;
}

.main-menu-custom .main-nav > li > a:hover {
	color: white;
}

.main-menu-custom .main-nav > li.site-nav--active > a {
	color: white !important;
}
	
.adjust-height {
	height: 80px;
}
	
.mogo-is-sticky {
	position: fixed;
    width: 100% !important;
    left: 0 !important;
    min-height: 60px;
}

.override-display {
	display: block !important;
}

.active-custom {
	color: #fe5a1a;
	color: var(--color-primary-var) !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-header {
		margin-left: -228px !important;
	}
}

.custom-search {
	display:none;
}

.custom-search {
	display: none;
	margin-top: 14px;
	background: #f8f9fa !important;
}

@media only screen and (min-width: 1025px) {
	.custom-search {
		display: block;
	}
}

.search-form-hs {
	position: relative;
	width: 200px;
	transition: width .2s;

	.search-results-container {
		position: absolute;
		top: 48px;
		width: 100%;
		overflow: visible;
		background: #fff;
		border: 1px solid #fe5a1a;
		
		a {
			display: block;
			padding: 10px;

			img {
				max-width: 70px;
			}
		}
	}

	&.hasFocus {
		width: 350px;
	}
}

.menu-item-active > span {
    color: var(--color-primary-var);
}