<ng-container *ngIf="globals.theme == 'nexgeek'">

	<!-- SITE HEADER -->
	<header class="site-header">
		<div class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<ul class="customer-links" *ngIf="authService.isLoggedIn">
							<li>
								<i class="fa fa-sign-out" aria-hidden="true"></i>
								<a (click)="logout()" style="cursor: pointer;" title="Uitloggen">Uitloggen</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<a id="cart-number" routerLink="/winkelwagen" class="cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false" *ngIf="authService.isLoggedIn">
							<span class="icon icon-cart" aria-hidden="true"></span>
							<span class="CartCount">{{ count() }}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main-header">
			<div class="container">
				<div class="row row-table">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 row-cell">
						<div class="site-header_logo" itemscope="" itemtype="http://schema.org/Organization"><a routerLink="/home" title="Quecom QuickShop"><img src="assets/images/logo.png" alt="Quecom QuickShop"> </a> </div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 row-cell">
						<div class="shiping_text"> <span class="icon"> <i class="fa fa-truck"></i> </span>
							<p>{{ globals.deliveryIndication[0] }}<span>{{ globals.deliveryIndication[1] }}</span></p>
						</div>
						<div class="order_text"> <span class="icon"> <i class="fa fa-phone-square"></i> </span>
							<p>Vragen? Mail ons<span>info@gezamenlijkvoordeel.nl</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<!-- SITE NAVIGATION -->
	<nav class="nav-bar nav-bar-custom" *ngIf="authService.isLoggedIn">
		<a href="#" class="sticky-home-logo" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a>
		<div class="container">
			<div class="main-menu main-menu-custom"> 
			<ul class="clearfix main-nav" id="AccessibleNav">
				<li routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home" class="site-nav__link">Home</a></li>
				<li routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/over-ons" class="site-nav__link">Hoe werkt het?</a></li>
				<li class="has-dropdown dropdown" routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}">
					<a class="site-nav__link" (mouseenter)="forceHideMenu = false">Klantenservice</a>
					<ul class="sub-menu" *ngIf="forceHideMenu === false">
						<li> <a routerLink="/klantenservice/bestelling" (click)="forceHideMenu = true" class="site-nav__link">Bestelling</a></li>
						<li> <a routerLink="/klantenservice/betaling" (click)="forceHideMenu = true" class="site-nav__link">Betaling</a></li>
						<li> <a routerLink="/klantenservice/verzending" (click)="forceHideMenu = true" class="site-nav__link">Verzending & Bezorging</a></li>
						<li> <a routerLink="/klantenservice/retouren" (click)="forceHideMenu = true" class="site-nav__link">Retouren & Garantie</a></li>
						<li> <a routerLink="/klantenservice/voorwaarden" (click)="forceHideMenu = true" class="site-nav__link">Algemene voorwaarden</a></li>
						<li> <a routerLink="/klantenservice/privacy" (click)="forceHideMenu = true" class="site-nav__link">Privacy & Cookie Policy</a></li>
					</ul>
				</li>
				<li routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/contact" class="site-nav__link">Contact</a></li>
			</ul>
			</div>
		</div>
	</nav>	
	<nav class="nav-bar" *ngIf="authService.isLoggedIn">	
		<div class="container">
			<div class="main-menu"> 
				<!-- begin site-nav -->
				<ul class="clearfix main-nav" id="AccessibleNav">
				
					<li class="has-dropdown megamenu" *ngFor="let category of categories">
						<a class="site-nav__link" (mouseenter)="forceHideMenu = false" (click)="goToPage('categorie', category.id)" routerLinkActive="site-nav--active">{{ category.name }}</a> 
						<i class="fa fa-plus"></i>
						<div class="megamenu" *ngIf="forceHideMenu === false && category.subcategories.length > 0">
							<ul class="sub-menu">
								<li *ngFor="let subcategory of category.subcategories">
									<a class="site-nav__link" (click)="goToPage('subcategorie', subcategory.id)">{{ subcategory.name }}</a> 
									<i class="fa fa-plus"></i>
									<ul class="sub-menu">
										<li *ngFor="let productgroup of subcategory.product_groups">
											<a class="site-nav__link" (click)="goToPage('product-groep', productgroup.id)">{{ productgroup.name }}</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
				
				</ul>
				<!-- end site-nav --> 
			</div>
			<div class="mobileview">
				<div class="row">
					<div class="col-xs-6 mobilecol">
						<div class="site-nav--mobile">
							<button type="button" class="site-nav__link" (click)="toggleMenu = !toggleMenu"> <span class="icon icon-hamburger" aria-hidden="true"></span></button>
						</div>
					</div>
					<div class="col-xs-6 mobilecol">
						<div class="site-nav--mobile"><a routerLink="/winkelwagen" class="site-nav__link"><span class="icon icon-cart" aria-hidden="true"></span></a> </div>
					</div>
				</div>
			</div>
		</div>
		<a routerLink="/winkelwagen" class="cart-toggle sticky-cart">
			<span class="icon icon-cart" aria-hidden="true"></span> <span class="CartCount">{{ count }}</span> 
		</a>
	</nav>
	
	<!-- MOBILE HANDLE -->
	<div class="drawer drawer--left" [ngClass]="toggleMenu ? 'op-left' : ''">
		<div class="drawer__header">
			<div class="drawer__title h3">Gezamenlijk Voordeel</div>
			<div class="drawer__close js-drawer-close">
				<button type="button" (click)="toggleMenu = !toggleMenu"> <span class="icon icon-x" aria-hidden="true"></span></button>
			</div>
		</div>
		<!-- MOBILE NAV -->
		<ul class="mobile-nav">
			<li class="mobile-nav__item" routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Home</a></li>
			<li class="mobile-nav__item" routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}">
				<a routerLink="/over-ons" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Hoe werkt het?</a>
			</li>
			<li class="mobile-nav__item" *ngFor="let category of categories">
				<a (click)="goToPage('categorie', category.id, true)" class="mobile-nav__link">{{ category.name }}</a>
			</li>
			<li class="mobile-nav__item" routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}">
				<div class="mobile-nav__has-sublist">
					<a class="mobile-nav__link">Klantenservice </a>
					<div class="mobile-nav__toggle">
						<button [hidden]="toggleCustomerService" (click)="toggleCustomerService = !toggleCustomerService" type="button" class="mobile-nav__toggle-open"> <span class="icon icon-plus" aria-hidden="true"></span></button>
						<button [hidden]="!toggleCustomerService" (click)="toggleCustomerService = !toggleCustomerService" type="button" class="mobile-nav__toggle-open"> <span class="icon icon-minus" aria-hidden="true"></span></button>
					</div>
				</div>
				<ul class="mobile-nav__sublist" [ngClass]="toggleCustomerService ? 'show-cs' : 'hide-cs'">
					<li class="mobile-nav__item"><a routerLink="/klantenservice/bestelling" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Bestelling</a> </li>
					<li class="mobile-nav__item"><a routerLink="/klantenservice/betaling" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Betaling</a> </li>
					<li class="mobile-nav__item"><a routerLink="/klantenservice/verzending" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Verzending & Bezorging</a> </li>
					<li class="mobile-nav__item"><a routerLink="/klantenservice/retouren" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Retouren & Garantie</a> </li>
					<li class="mobile-nav__item"><a routerLink="/klantenservice/voorwaarden" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Algemene voorwaarden</a> </li>
					<li class="mobile-nav__item"><a routerLink="/klantenservice/privacy" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Privacy & Cookie Policy</a> </li>
				</ul>
			</li>
			<li class="mobile-nav__item" routerLinkActive="site-nav--active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/contact" (click)="toggleMenu = !toggleMenu" class="mobile-nav__link">Contact</a></li>
		</ul>
		<!-- MOBILE NAV END --> 
	</div>
	<!-- MOBILE HANDLE END --> 

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	<header>
	
	    <div class="tt-header tt-header--build-01 tt-header--style-01 tt-header--sticky">
	        <div class="tt-header__tape">
	            <div class="tt-header__tape-text">
	                <i class="icon-location"></i>
	                Address: 7563 St. Vicent Place, Glasgow
	            </div>
	            <div class="tt-header__tape-text">
	                <i class="icon-phone"></i>
	                Phone: <span>+777 2345 7885: +777 2345 7886</span>
	            </div>
	            <div class="tt-header__tape-text">
	                <i class="icon-clock-2"></i>
	                Hours : 7 Days a week from 10-00 am to 6-00 pm
	            </div>
	            <div class="tt-header__tape-social">
	                <div class="tt-social-icons tt-social-icons--style-02">
	                    <a href="#" class="tt-btn">
	                        <i class="icon-facebook"></i>
	                    </a>
	                    <a href="#" class="tt-btn">
	                        <i class="icon-twitter"></i>
	                    </a>
	                    <a href="#" class="tt-btn">
	                        <i class="icon-gplus"></i>
	                    </a>
	                    <a href="#" class="tt-btn">
	                        <i class="icon-instagram-1"></i>
	                    </a>
	                    <a href="#" class="tt-btn">
	                        <i class="icon-youtube-play"></i>
	                    </a>
	                </div>
	            </div>
	        </div>
	        <div class="tt-header__content">
	            <div class="tt-header__logo">
	                <div class="h1 tt-logo tt-logo__curtain">
	                    <a href="index.html">
	                        <img src="images/logo.png" alt="mogo">
	                    </a>
	                </div>
	                <div class="tt-header__btn-info"><i></i></div>
	            </div>
	            <div class="tt-header__nav">
	                <div class="tt-header__sidebar">
	                    <div class="tt-header__options">
	                        <a href="#" class="tt-header__btn tt-header__btn-menu"><i class="icon-menu"></i></a>
	                        <div role="search" class="tt-header__search">
	                            <form action="#" class="tt-header__search-form">
	                                <input type="search" name="q" class="form-control" placeholder="Search...">
	                            </form>
	                            <div class="tt-header__search-dropdown"></div>
	                            <a href="#" class="tt-header__btn tt-header__btn-open-search"><i class="icon-search"></i></a>
	                            <a href="#" class="tt-header__btn tt-header__btn-close-search"><i class="icon-cancel-1"></i></a>
	                        </div>
	                        <div>
	                            <a href="#" class="tt-header__btn tt-header__btn-user"><i class="icon-user-outline"></i></a>
	                            <div class="tt-header__user">
	                                <ul class="tt-list-toggle">
	                                    <li><a href="account.html">My account</a></li>
	                                    <li><a href="checkout.html">Checkout</a></li>
	                                    <li><a href="login.html">Login</a></li>
	                                    <li><a href="register.html">Register</a></li>
	
	                                    <div class="tt-header__login">
	                                        <h6>Login</h6>
	                                        <form action="#">
	                                            <input type="email" class="form-control" placeholder="Email" required="required">
	                                            <input type="password" class="form-control" placeholder="Password" required="required">
	                                            <button type="submit" class="btn">Login</button>
	                                            <div>
	                                                <a href="account.html">Forget your password?</a>
	                                            </div>
	                                        </form>
	                                    </div>
	                                </ul>
	                            </div>
	                        </div>
	                        <a href="wishlist.html" class="tt-header__btn tt-header__btn-wishlist">
	                            <i class="icon-heart-empty-2"></i>
	                            <span>2</span>
	                        </a>
	                        <div>
	                            <a href="cart.html" class="tt-header__btn tt-header__btn-cart">
	                                <i class="icon-shop24"></i>
	                                <span>1</span>
	                            </a>
	                            <div class="tt-header__cart">
	                                <div class="tt-header__cart-content">
	                                    <ul class="colorize-bd">
	                                        <li>
	                                            <div>
	                                                <a href="product.html">
	                                                    <img src="images/products/product-02.jpg" alt="image" class="colorize-theme2-bd colorize-theme-bd-h">
	                                                </a>
	                                            </div>
	                                            <div>
	                                                <p>
	                                                    <a href="product.html">Elegant and fresh. A most attractive mobile power supply.</a>
	                                                </p>
	                                                <span class="tt-header__cart-price">
	                                                    <span class="tt-header__cart-price-count">2</span>
	                                                    <span>x</span>
	                                                    <span class="tt-header__cart-price-val tt-price">$120</span>
	                                                </span>
	                                                <div class="tt-counter" data-min="0" data-max="99">
	                                                    <form action="#">
	                                                        <input type="text" class="form-control" value="1">
	                                                    </form>
	                                                    <div class="tt-counter__control">
	                                                        <span class="icon-up-circle" data-direction="next"></span>
	                                                        <span class="icon-down-circle" data-direction="prev"></span>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <div>
	                                                <a href="#" class="tt-header__cart-edit"><i class="icon-pencil-circled"></i></a>
	                                                <a href="#" class="tt-header__cart-delete" title="remove"><i class="icon-trash"></i></a>
	                                            </div>
	                                        </li>
	                                    </ul>
	                                    <div class="tt-header__cart-footer">
	                                        <span class="tt-header__cart-subtotal colorize-head-c">Subtotal:
	                                            <span class="colorize-theme-c">$240</span>
	                                        </span>
	                                        <div class="row">
	                                            <div class="col-lg-6">
	                                                <a href="cart-01.html" class="tt-header__cart-viewcart btn"><i class="icon-shop24"></i> View Cart</a>
	                                            </div>
	                                            <div class="col-lg-6">
	                                                <a href="checkout-01.html" class="tt-header__cart-checkout btn colorize-btn2"><i class="icon-check"></i> Checkout</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div>
	                            <a href="#" class="tt-header__btn tt-header__btn-settings"><i class="icon-cog"></i></a>
	                            <div class="tt-header__settings">
	                                <ul class="tt-list-toggle">
	                                    <li class="tt-list-toggle__open"><a href="#">language: USA</a>
	                                        <ul>
	                                            <li><a href="#">POL</a></li>
	                                            <li class="active"><a href="#">USA</a></li>
	                                            <li><a href="#">RUS</a></li>
	                                        </ul>
	                                    </li>
	                                    <li class="tt-list-toggle__open"><a href="#">Currency: <span>USD</span></a>
	                                        <ul id="currencies">
	                                            <li class="active"><a href="#">USD</a></li>
	                                            <li><a href="#">RUB</a></li>
	                                        </ul>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>
	
</ng-container>