<!-- SITE MAIN CONTENT -->
<main class="main-content">
	
	<section class="block-banner mb60">
		<div class="container">
			<div class="block-banner_caption">
				<h2>Charge fast, Live more</h2>
			</div>
		</div>
	</section>

	<div class="container">
		<h1 class="pageTitle">Anker</h1>
		
		<p>Anker maakt het leven met technologie net even wat makkelijker. Je kent het wel: wil je net iets opzoeken op je smartphone, is de accu leeg. Met de Anker powerbanks is dit verleden tijd. Zo kun je overal je smartphone opladen, waar je ook bent. Anker bestaat uit een groep internationale techneuten die jouw problemen kennen: lege accu's, te weinig USB-poorten en kabels die kapot gaan. Met de producten van Anker worden deze problemen verleden tijd. Het leven versimpelen doet Anker graag op een eigenzinnige manier. De techneuten zijn pas tevreden als jij dat ook bent. Daarom zijn hun producten van een zeer hoge kwaliteit en betaalbaar. Bovendien is alles voorzien van een prachtig design. Zolang jij je apparaten maar kan opladen, dan doet Anker de rest. Veel makkelijker wordt het niet toch?</p>
		<p>Anker is opgericht in 2011 door een groep vrienden die werkten bij Google. Een aantal jaar later groeiden ze uit tot marktleider op het gebied van slim opladen en  mobiele telefoon accessoires. Dit dankzij het zelfstandig ontwikkelen en gebruik van de slimme technologieën zoals PowerIQ en VoltageBoost. welke ervoor zorgen dat elk aangesloten apparaat zo snel en veilig mogelijk wordt opgeladen.</p>
		<p>PowerIQ is de eerste slimme chip ontwikkeld door ANKER welke automatisch het aangesloten apparaat herkend en ervoor zorgt dat deze zo snel en veilig mogelijk wordt opgeladen. Hierdoor kan vrijwel altijd dezelfde oplaadsnelheid gehaald worden als de originele bijgeleverde stekker. </p>
		<p>VoltageBoost verminderd kabelweerstand, en zorgt ervoor dat er een geleidelijke hoeveelheid stroom wordt afgegeven. Hierdoor kan er sneller opgeladen worden.</p>
	</div>
</main>