<ng-container *ngIf="globals.theme == 'nexgeek'">

	<main class="main-content">
		<div class="container">
			<h1 class="pageTitle">Bestelling</h1>
			<p>Wil jij een product bestellen? Plaats dan heel eenvoudig een bestelling in 6 stappen!</p> 
			<p>
				<b>1. Selecteer jouw product</b><br/>
				In onze shop selecteer je gemakkelijk het product waarin jij geïnteresseerd bent.
			</p>
			<p>
				<b>2. Productpagina</b><br/>
				Op de productpagina plaats je het product in het winkelmandje door op "Voeg toe" te klikken. Dit is alleen mogelijk als het product op voorraad is. Één keer klikken staat gelijk aan het product één keer toevoegen.
			</p>
			<p>
				<b>3. Winkelwagen</b><br/>
				Door rechts bovenin op de winkelwagen te klikken zie je het door jou geselecteerde product. Controleer of dit het juiste product is én of het gewenste aantal is ingevoerd. Klopt dit? Klik dan op de knop "Bestellen" om door te gaan naar de persoonlijke gegevens.
			</p>
			<p>
				<b>4. Persoonlijke gegevens</b><br/>
				Vul het formulier in met je gegevens, zodat wij het product naar het juiste adres sturen. Velden waar een * bij staat zijn verplicht om in te vullen en de bestelling af te kunnen ronden. Je kunt hier eventueel een opmerking achterlaten en je gegevens opslaan voor een volgende bestelling. 
				Let op. Jij dient akkoord te gaan met de algemene voorwaarden om de bestelling af te kunnen ronden.
			</p>
			<p>
				<b>5. Betaling</b><br/>
				Selecteer de gewenste betaalmethode en volg de daarbij behorende instructies. Meer informatie over de verschillende betaalmethodes vind je op de pagina Betaling onder het kopje "Klantenservice". 
			</p>
			<p>
				<b>6. Bevestiging</b><br/>
				Wanneer de bestelling succesvol is afgerond, ontvang je een bevestigingsmail op het door jou opgegeven e-mailadres. Lees alles over het bezorgproces onder Verzending & Bezorging.
			</p>
		</div>
	</main>

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	
	<main>

	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>Bestelling</h1>
	                    <p>Alle informatie over het plaatsen van een bestelling</p>
	                </div>
	
	                <div class="ttg-mt--40">
	                    <div style="max-height: 350px; display: flex; align-items: center; overflow: hidden;">
	                        <img src="assets/templates/mogo/images/services/ordering-01.jpg" alt="">
	                    </div>
	                </div>
					
					<div class="tt-page__name-sm ttg-mt--90">
						<p>Wil jij een product bestellen? Plaats dan heel eenvoudig een bestelling in 6 stappen!</p> 
						<p>
							<b>1. Selecteer jouw product</b><br/>
							In onze shop selecteer je gemakkelijk het product waarin jij geïnteresseerd bent.
						</p>
						<p>
							<b>2. Productpagina</b><br/>
							Op de productpagina plaats je het product in het winkelmandje door op "Voeg toe" te klikken. Dit is alleen mogelijk als het product op voorraad is. Één keer klikken staat gelijk aan het product één keer toevoegen.
						</p>
						<p>
							<b>3. Winkelwagen</b><br/>
							Door rechts bovenin op de winkelwagen te klikken zie je het door jou geselecteerde product. Controleer of dit het juiste product is én of het gewenste aantal is ingevoerd. Klopt dit? Klik dan op de knop "Bestellen" om door te gaan naar de persoonlijke gegevens.
						</p>
						<p>
							<b>4. Persoonlijke gegevens</b><br/>
							Vul het formulier in met je gegevens, zodat wij het product naar het juiste adres sturen. Velden waar een * bij staat zijn verplicht om in te vullen en de bestelling af te kunnen ronden. Je kunt hier eventueel een opmerking achterlaten en je gegevens opslaan voor een volgende bestelling. 
							Let op. Jij dient akkoord te gaan met de algemene voorwaarden om de bestelling af te kunnen ronden.
						</p>
						<p>
							<b>5. Betaling</b><br/>
							Selecteer de gewenste betaalmethode en volg de daarbij behorende instructies. Meer informatie over de verschillende betaalmethodes vind je op de pagina Betaling onder het kopje "Klantenservice". 
						</p>
						<p>
							<b>6. Bevestiging</b><br/>
							Wanneer de bestelling succesvol is afgerond, ontvang je een bevestigingsmail op het door jou opgegeven e-mailadres. Lees alles over het bezorgproces onder Verzending & Bezorging.
						</p>
	                </div>
					
	                <!-- <div class="row ttg-grid-padding--none">
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--left">
	                            <img src="assets/templates/mogo/images/services/services-02.jpg" alt="Image name">
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--top">
	                            <img src="assets/templates/mogo/images/services/services-03.jpg" alt="Image name">
	                        </div>
	                    </div>
	                </div> -->
				</div>
	        </div>
	    </div>
	
	</main>
	

</ng-container>
