<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main>
	
	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	            
	            	<div class="tt-home__post-img-01">
	                    <div class="tt-post-img tt-post-img--layers tt-post-img--curtain ttg-image-scale">
	                        <img alt="image" src="assets/templates/mogo/images/blog/single/blog-single-06.jpg" style="display: block;">
	                        <div class="tt-post-img__text">
	                            <div class="tt-post-img__title tt-post-img__title--long">Welkom in de shop</div>
	                            <div class="tt-post-img__info ttg-f--16 ttg-fw--bold">Lorem ipsum dolor sit amet conse
	                                ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
	                            </div>
	                            <a href="javascript:void(0);" routerLink="/inloggen" class="btn">INLOGGEN</a>
	                            <a href="javascript:void(0);" routerLink="/registreren" class="btn">REGISTREREN</a>
	                        </div>
	                    </div>
	                </div>
	            
	            </div>
            </div>
        </div>
        
    </main>

</ng-container>