<!-- SITE MAIN CONTENT -->
<main class="main-content">
	<div class="container">
		<h1 class="pageTitle">Betaling</h1>
		<p>Een betaling afronden bij OutoftheBox.nl staat voor snel, gemakkelijk en bovenal zeer veilig. Kies zelf voor één van onderstaande betaalmethodes tijdens de bestelprocedure. Gezamenlijk Voordeel ondersteunt de volgende betaalmethodes.</p> 
		<ul>
			<li>iDeal</li>
			<li>PayPal</li>
			<li>Bancontact</li>
		</ul>
		<p>De betaling wordt verwerkt in de beveiligde omgeving van Buckaroo.</p>
	</div>
</main>