<ng-container *ngIf="globals.theme == 'nexgeek'">

	<!-- SITE MAIN CONTENT -->
	<main class="main-content">
		<div class="container">
			<h1 class="pageTitle">Privacy & Cookie Policy</h1>
			<p>Wij zijn ervan bewust dat jij vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om de privacy te beschermen. Persoonlijke gegevens worden uitsluitend gebruikt voor de doeleinden waarvoor de gegevens verstrekt zijn. </p>
	
			<p>Dit privacybeleid is van toepassing op de diensten van Gezamenlijk Voordeel. Ben bewust dat Gezamenlijk Voordeel niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze website geef jij aan het privacybeleid te accepteren.</p>
			
			<p>
			Bedrijfsgegevens</p>
			
			<p>Naam bedrijf Gezamenlijk Voordeel<br />
			Website www.gezamenlijkvoordeel.nl<br />
			Inschrijfnummer KvK <br />
			BTW-nummer NL<br />
			 </p>
			
			<p>Privacy- en cookiestatement<br />
			Voor elk(e) sitebezoek, transactie of overeenkomst op de webshops van Gezamenlijk Voordeel geldt onderstaand privacy- en cookiestatement. Dit privacy- en cookiestatement kan van tijd tot tijd worden aangepast. Op deze website is ons privacy- en cookiestatement altijd in te zien. </p>
			
			<p>Doeleinden van gebruik<br />
			Gezamenlijk Voordeel verwerkt persoonsgegevens voor (i) de acceptatie van de bestelling, (ii) het tegengaan van overkreditering, (iii) uitvoering van overeenkomsten met jou, (iv) relatiebeheer, (v) managementinformatie, product- en dienstontwikkeling, het bepalen van de (algemene) strategie, (vi) het uitvoeren van analyses en (vii) het nakomen van wettelijke verplichtingen.</p>
			
			<p>Bij de verwerking van persoonsgegevens en de levering van haar diensten kan Gezamenlijk Voordeel groepsvennootschappen, samenwerkende partners en eventuele (sub)bewerker(s) inschakelen.</p>
			
			<p>Persoonsgegevens kunnen ook worden gebruikt voor het opsporen van (pogingen tot) onrechtmatige en/of strafbare gedragingen gericht tegen Gezamenlijk Voordeel, haar klanten en medewerkers, alsmede voor deelname aan waarschuwingssystemen welke worden gebruikt ter voorkoming van fraude en overkreditering.</p>
			
			<p>Communicatie<br />
			Persoonsgegevens kunnen worden gebruikt om al dan niet op basis van een voorafgaande selectie te informeren over interessante gelijksoortige aanbiedingen en producten of diensten van Gezamenlijk Voordeel en/of groepsvennootschappen en samenwerkende partners. Informatie voortvloeiende uit de tussen jou en Gezamenlijk Voordeel bestaande overeenkomst kun je per e-mail ontvangen. Commerci&euml;le informatie is ook per e-mail te ontvangen, mits hiervoor toestemming gegeven is.</p>
			
			<p>Nieuwsbrief<br />
			Wij bieden een nieuwsbrief waarmee wij ge&iuml;nteresseerden willen informeren over onze producten en/ of diensten. Deze nieuwsbrief wordt enkel ontvangen indien hiervoor toestemming gegeven is. Een inschrijving voor onze nieuwsbrief kan er tevens toe leiden dat je incidenteel benaderd wordt om vrijwillig deel te nemen aan een consumentenonderzoek.</p>
			
			<p>Uitschrijven dienst nieuwsbrief<br />
			Onderaan onze nieuwsbrieven wordt een afmeldmogelijkheid opgenomen.</p>
			
			<p>Aanpassen/ uitschrijven communicatie<br />
			Als jij geen commerci&euml;le informatie (meer) wenst te ontvangen, of niet wilt dat persoonsgegevens worden gebruikt voor direct marketing doeleinden, maak dit dan kenbaar aan de betreffende vennootschap. Contact opnemen met Gezamenlijk Voordeel kan via telefoon op +31 (0)73 611 01 51, een brief naar Afdeling Klantenservice, De Tweeling 24a, 5215 MC 's-Hertogenbosch, of stuur een e-mail naar info@outofthebox.nl. </p>
			
			<p>Door de algemene voorwaarden zoals deze worden gehanteerd door Gezamenlijk Voordeel te aanvaarden stem jij tevens in met de mogelijkheid dat (i) Gezamenlijk Voordeel persoonsgegevens (laat) gebruiken voor credit scoring en (ii) Gezamenlijk Voordeel informatie over je kredietwaardigheid verstrekt aan BKR. </p>
			
			<p>Om afhandeling van klachten en serviceverlening mogelijk te maken kan Gezamenlijk Voordeel gegevens van jou die daarvoor noodzakelijk zijn verstrekken aan leveranciers of andere partijen waar Gezamenlijk Voordeel mee samenwerkt in het kader van klachtafhandeling en serviceverlening. </p>
			
			<p>Gezamenlijk Voordeel gebruikt persoonsgegevens niet voor adressenhandel.</p>
			
			<p>Cookies<br />
			Cookies zijn kleine tekstbestanden of andere technieken waarmee bij een bezoek aan een website informatie op het apparaat wordt geplaatst. Zowel Gezamenlijk Voordeel als andere partijen kunnen cookies plaatsen. Met behulp van de cookies kan er onder meer voor worden gezorgd dat jij bij een bezoek aan onze site niet herhaaldelijk dezelfde informatie ontvangt of moet invoeren. Cookies worden niet gebruikt om priv&eacute;gegevens van het apparaat te halen of wachtwoorden te achterhalen.</p>
			
			<p>Er bestaan verschillende soorten cookies. Op de website is een overzicht waarin (i) de gebruikte cookies worden opgesomd (ii) wie het cookie plaatst (Gezamenlijk Voordeel of een derde partij met een link naar de website van de derde partij) (iii) het doel van het betreffende cookie en (iv) de bewaartermijn.</p>
			
			<p>De meeste browsers kunnen zodanig worden ingesteld dat cookies niet geaccepteerd worden of dat jij op de hoogte wordt gesteld wanneer je een cookie ontvangt. Instructies met betrekking tot het aanpassen van de instellingen van de browser vind je onder &lsquo;Help&rsquo; in de toolbar van de meeste browsers. Hoewel de bezoeker van de site de site nog steeds kan bezoeken is het echter mogelijk dat als cookies niet worden geaccepteerd, bepaalde diensten of elementen van de site niet optimaal functioneren. Het niet accepteren van cookies beperkt het gebruik van onze site en diensten.</p>
			
			<p>De veiligheid van persoonsgegevens<br />
			Wij hebben passende technische en organisatorische maatregelen genomen om persoonsgegevens te beveiligen tegen verlies, of tegen enige vorm van onrechtmatige verwerking.</p>
			
			<p>Rechten<br />
			Je mag ons inzage verzoeken in persoonsgegevens. Ook kan ons verzocht worden persoonsgegevens te verbeteren, aan te vullen, te verwijderen of af te schermen indien deze onjuist, onvolledig of irrelevant zijn, of anderszins in strijd met een wettelijk voorschrift worden verwerkt.</p>
		</div>
	</main>

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	
	<main>

	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>Privacy & Cookie Policy</h1>
	                    <p></p>
	                </div>
	
	                <div class="ttg-mt--90">
	                    <div class="ttg-image-scale">
	                        <img src="assets/templates/mogo/images/services/cookie-01.jpg" alt="">
	                    </div>
	                </div>
					
					<div class="tt-page__name-sm text-center ttg-mt--90">
						<p>Wij zijn ervan bewust dat jij vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om de privacy te beschermen. Persoonlijke gegevens worden uitsluitend gebruikt voor de doeleinden waarvoor de gegevens verstrekt zijn. </p>
	
						<p>Dit privacybeleid is van toepassing op de diensten van Gezamenlijk Voordeel. Ben bewust dat Gezamenlijk Voordeel niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze website geef jij aan het privacybeleid te accepteren.</p>
						
						<p>
						Bedrijfsgegevens</p>
						
						<p>Naam bedrijf Gezamenlijk Voordeel<br />
						Website www.gezamenlijkvoordeel.nl<br />
						Inschrijfnummer KvK <br />
						BTW-nummer NL<br />
						 </p>
						
						<p>Privacy- en cookiestatement<br />
						Voor elk(e) sitebezoek, transactie of overeenkomst op de webshops van Gezamenlijk Voordeel geldt onderstaand privacy- en cookiestatement. Dit privacy- en cookiestatement kan van tijd tot tijd worden aangepast. Op deze website is ons privacy- en cookiestatement altijd in te zien. </p>
						
						<p>Doeleinden van gebruik<br />
						Gezamenlijk Voordeel verwerkt persoonsgegevens voor (i) de acceptatie van de bestelling, (ii) het tegengaan van overkreditering, (iii) uitvoering van overeenkomsten met jou, (iv) relatiebeheer, (v) managementinformatie, product- en dienstontwikkeling, het bepalen van de (algemene) strategie, (vi) het uitvoeren van analyses en (vii) het nakomen van wettelijke verplichtingen.</p>
						
						<p>Bij de verwerking van persoonsgegevens en de levering van haar diensten kan Gezamenlijk Voordeel groepsvennootschappen, samenwerkende partners en eventuele (sub)bewerker(s) inschakelen.</p>
						
						<p>Persoonsgegevens kunnen ook worden gebruikt voor het opsporen van (pogingen tot) onrechtmatige en/of strafbare gedragingen gericht tegen Gezamenlijk Voordeel, haar klanten en medewerkers, alsmede voor deelname aan waarschuwingssystemen welke worden gebruikt ter voorkoming van fraude en overkreditering.</p>
						
						<p>Communicatie<br />
						Persoonsgegevens kunnen worden gebruikt om al dan niet op basis van een voorafgaande selectie te informeren over interessante gelijksoortige aanbiedingen en producten of diensten van Gezamenlijk Voordeel en/of groepsvennootschappen en samenwerkende partners. Informatie voortvloeiende uit de tussen jou en Gezamenlijk Voordeel bestaande overeenkomst kun je per e-mail ontvangen. Commerci&euml;le informatie is ook per e-mail te ontvangen, mits hiervoor toestemming gegeven is.</p>
						
						<p>Nieuwsbrief<br />
						Wij bieden een nieuwsbrief waarmee wij ge&iuml;nteresseerden willen informeren over onze producten en/ of diensten. Deze nieuwsbrief wordt enkel ontvangen indien hiervoor toestemming gegeven is. Een inschrijving voor onze nieuwsbrief kan er tevens toe leiden dat je incidenteel benaderd wordt om vrijwillig deel te nemen aan een consumentenonderzoek.</p>
						
						<p>Uitschrijven dienst nieuwsbrief<br />
						Onderaan onze nieuwsbrieven wordt een afmeldmogelijkheid opgenomen.</p>
						
						<p>Aanpassen/ uitschrijven communicatie<br />
						Als jij geen commerci&euml;le informatie (meer) wenst te ontvangen, of niet wilt dat persoonsgegevens worden gebruikt voor direct marketing doeleinden, maak dit dan kenbaar aan de betreffende vennootschap. Contact opnemen met Gezamenlijk Voordeel kan via telefoon op +31 (0)73 611 01 51, een brief naar Afdeling Klantenservice, De Tweeling 24a, 5215 MC 's-Hertogenbosch, of stuur een e-mail naar info@outofthebox.nl. </p>
						
						<p>Door de algemene voorwaarden zoals deze worden gehanteerd door Gezamenlijk Voordeel te aanvaarden stem jij tevens in met de mogelijkheid dat (i) Gezamenlijk Voordeel persoonsgegevens (laat) gebruiken voor credit scoring en (ii) Gezamenlijk Voordeel informatie over je kredietwaardigheid verstrekt aan BKR. </p>
						
						<p>Om afhandeling van klachten en serviceverlening mogelijk te maken kan Gezamenlijk Voordeel gegevens van jou die daarvoor noodzakelijk zijn verstrekken aan leveranciers of andere partijen waar Gezamenlijk Voordeel mee samenwerkt in het kader van klachtafhandeling en serviceverlening. </p>
						
						<p>Gezamenlijk Voordeel gebruikt persoonsgegevens niet voor adressenhandel.</p>
						
						<p>Cookies<br />
						Cookies zijn kleine tekstbestanden of andere technieken waarmee bij een bezoek aan een website informatie op het apparaat wordt geplaatst. Zowel Gezamenlijk Voordeel als andere partijen kunnen cookies plaatsen. Met behulp van de cookies kan er onder meer voor worden gezorgd dat jij bij een bezoek aan onze site niet herhaaldelijk dezelfde informatie ontvangt of moet invoeren. Cookies worden niet gebruikt om priv&eacute;gegevens van het apparaat te halen of wachtwoorden te achterhalen.</p>
						
						<p>Er bestaan verschillende soorten cookies. Op de website is een overzicht waarin (i) de gebruikte cookies worden opgesomd (ii) wie het cookie plaatst (Gezamenlijk Voordeel of een derde partij met een link naar de website van de derde partij) (iii) het doel van het betreffende cookie en (iv) de bewaartermijn.</p>
						
						<p>De meeste browsers kunnen zodanig worden ingesteld dat cookies niet geaccepteerd worden of dat jij op de hoogte wordt gesteld wanneer je een cookie ontvangt. Instructies met betrekking tot het aanpassen van de instellingen van de browser vind je onder &lsquo;Help&rsquo; in de toolbar van de meeste browsers. Hoewel de bezoeker van de site de site nog steeds kan bezoeken is het echter mogelijk dat als cookies niet worden geaccepteerd, bepaalde diensten of elementen van de site niet optimaal functioneren. Het niet accepteren van cookies beperkt het gebruik van onze site en diensten.</p>
						
						<p>De veiligheid van persoonsgegevens<br />
						Wij hebben passende technische en organisatorische maatregelen genomen om persoonsgegevens te beveiligen tegen verlies, of tegen enige vorm van onrechtmatige verwerking.</p>
						
						<p>Rechten<br />
						Je mag ons inzage verzoeken in persoonsgegevens. Ook kan ons verzocht worden persoonsgegevens te verbeteren, aan te vullen, te verwijderen of af te schermen indien deze onjuist, onvolledig of irrelevant zijn, of anderszins in strijd met een wettelijk voorschrift worden verwerkt.</p>
	                </div>
					
	                <div class="row ttg-grid-padding--none">
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--left">
	                            <img src="assets/templates/mogo/images/services/services-02.jpg" alt="Image name">
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="ttg-image-translate--top">
	                            <img src="assets/templates/mogo/images/services/services-03.jpg" alt="Image name">
	                        </div>
	                    </div>
	                </div>
				</div>
	        </div>
	    </div>
	
	</main>
	

</ng-container>
