<ng-container *ngIf="globals.theme === 'mogo'">
	
	<!-- MAIN -->
	<main>
		
		 <div class="tt-layout tt-sticky-block__parent ">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>
	                    	<ng-container *ngIf="globals.language == 'NL'">Wachtwoord vergeten</ng-container>
	                        <ng-container *ngIf="globals.language == 'EN'">Forgot password</ng-container>
	                    </h1>
	                </div>
	
	                <div class="tt-login">
	                    <form style="box-sizing: border-box !important;">
	                        <div class="tt-form">
	                            <div class="tt-form__form">
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3">
	                                        	<span class="ttg__required">
	                                        		<ng-container *ngIf="globals.language == 'NL'">E-mailadres:</ng-container>
	                                        		<ng-container *ngIf="globals.language == 'EN'">Mailaddress:</ng-container>
	                                        	</span>
	                                        </div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="username" name="username"  placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-md-3 ttg-mt--40">
	                                <button type="submit" [disabled]="!username" class="btn" (click)="requestPassword()" [promiseBtn]="requestPromise">
	                                	<ng-container *ngIf="globals.language == 'NL'">Opvragen</ng-container>
	                                    <ng-container *ngIf="globals.language == 'EN'">Request</ng-container>
	                                </button>
	                            </div>
	                            <div *ngIf="mainErrorMsg" class="col-md-7 ttg-mt--40" style="color: indianred; border: 2px solid indianred; display: flex; align-items: center; justify-content: flex-start;">
	                            	<i class="icon-cancel" style="color: indianred; padding-right: 10px;"></i>
	                            	{{ mainErrorMsg }}
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
		    
   	</main>
	
</ng-container>