<ng-container *ngIf="globals.theme == 'mogo'">


  <main>

    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
      <div class="tt-layout__content">
        <div class="container">

          <div class="tt-page__name text-center bolb">
            <h1>Bol.com cadeaubon</h1>
            <p>Niets kunnen vinden? Je kunt je waardebon ook inwisselen voor een Bol.com cadeaubon</p>

            <a href="mailto:marketing@amazingcompany.eu?subject=Waardebon%20inwisselen&body=Ik%20wil%20graag%20mijn%20waardebon%20inwisselen%20voor%20een%20Bol.com%20cadeaubon.%0A%0ANaam%3A%0AWaardebon%20code%3A%0A%0ALet%20op%3A%20de%20waarde%20van%20de%20bon%20wordt%20met%20%E2%82%AC50%20verminderd.">Inwisselen</a>

            <p class="notice">Let op: de waardebon wordt met &euro;50 verminderd bij het inwisselen.</p>
          </div>
        </div>
      </div>
    </div>

  </main>


</ng-container>
