@import "~scss/variables.css";

.custom-bg {
	background-color: #f1f1f1;
	margin-bottom: 30px;
}

.flexing {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner {
	margin-top: 30px;
	background-color: var(--color-primary);
}

.banner h4 {
	color: white;
}

.show-coupon {
	color: var(--color-primary);
	font-weight: bold;
	font-size: 60px;
}

.remove-padder {
	padding-right: 0 !important;
}

.tt-promobox__hover.tt-promobox__hover--up {
    top: calc(100% - 0px);
}

.bag-promo-header {
  text-align: center;

  h1 {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  p {
    margin: 20px 0 50px 0;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .bag-promo-header {
    text-align: left;
  }
}


@media (min-width: 900px) {
  .bag-promo-header {
    h1 {
      margin-top: 60px;
      font-size: 2rem;
    }

    p {
      margin: 20px 0 0 0;
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 1300px) {
  .bag-promo-header {
    h1 {
      margin-top: 80px;
      font-size: 3rem;
    }
  }
}

.overlay {
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  top: 100px;
  z-index: 1000;

  h1, p {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
  }

  p {
    margin-top: 20px;
    font-size: .9rem;
    font-weight: 700;
  }

  .btn {
    display: block;
    color: var(--color-primary-var) !important;
    width: 200px;
    margin: 60px auto 0 auto;
    text-align: center;
    background: #fff !important;
    border: #fff !important;
    padding: 20px 40px;

    &:hover {
      color: #fff !important;
      background: var(--color-primary-var) !important;
    }
  }
}

@media (min-width: 900px) {
  .overlay {
    width: 800px;
    left: calc(50% - 400px);


    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
