<!-- SITE MAIN CONTENT -->
<main class="main-content">

	<section class="main-slideshow flexslider mb30">
		<img style="width: 100%; max-width: none !important;" src="assets/images/banner.jpg" />
	</section>

	<div class="container banner">
		<div class="row flexing">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-10 col-sm-10 col-xs-10">
					<h4>Ik heb een Amazing Kerstcadeau!</h4>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<button class="btn" (click)="toggleCouponCheck()">Direct checken</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container custom-bg" *ngIf="showCouponCheck">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1 class="text-center">Amazing Kerstcadeau</h1>
				<div class="form-group">
					<blockquote>
						<p class="text-center">Check hier de waarde van jouw Amazing Kerstcadeau!</p>
					</blockquote>
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-10">
							<input placeholder="Kortingscode" type="text" class="form-control" name="coupon_code" [(ngModel)]="couponCode" />
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2">
							<button class="btn" [disabled]="!couponCode" (click)="checkCouponCode()">Checken</button>
						</div>
					</div>
					<div>
						<blockquote>
							<h1 class="text-center show-coupon">{{ errorMessage }}</h1>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 	<div class="container" style="text-align:center;"> -->
<!-- 		<img src="assets/images/fnv_ledenvoordeel.jpg" /> -->
<!-- 	</div> -->
	
	<blockquote>
		<p class="text-center">
			<b>Scoor hier de beste Amazing December Deals en verwen jezelf met een super leuk cadeau!</b><br/>
			De laatste maand van het jaar staat in het teken van de feestdagen en daar horen natuurlijk cadeautjes bij! Niets leuker om dan ook jezelf van een leuk cadeau te voorzien. Neem gauw een kijkje tussen alle Amazing December Deals en zoek de allerleukste cadeautjes uit. Met kortingen tot wel 60% zit er zeker iets voor je tussen! Happy Shopping!
		</p>
	</blockquote>
	
	<p class="text-center">
	<button class="btn" routerLink="/producten">Bekijk alle deals</button>
	</p>
	
	<div class="container" *ngIf="!useCategories">
		<div class="row">
			<div class="col-sm-12 main-col">
				<h2 class="section-title">Producten</h2>
				<div class="products">
					<div class="products-grid">
						<div class="grid_item col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products">
							<div class="product_image"> 
								<a [routerLink]="['/product', product.id]">
									<img [src]="product.image_url" alt="">
								</a>
								<div class="action-buttons">
									<a class="btn-action add-to-cart" (click)="addToCart(product)" title="Select Options">
										<span class="icon icon-cart" aria-hidden="true"></span>
									</a>
									<button type="button" class="btn-action btn-quickview" title="Product" [routerLink]="['/product', product.id]">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</button>
								</div>
							</div>
							<div class="product_detail">
								<h3 class="product_name" style="min-height: 40px;">
									<a [routerLink]="['/product', product.id]">{{ product.title }}</a>
								</h3>
								<p>
									Van {{ product.retail_price | currency:'EUR':'true' }}
								</p>
								<p>
									<span class="product_price"><span>Voor {{ product.price_total_netto*1.21 | currency:'EUR':'true' }}</span></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	
</main>