<ng-container *ngIf="globals.theme == 'nexgeek'">

	<!-- SITE MAIN CONTENT -->
	<main class="main-content">

		<section class="main-slideshow flexslider mb30">
			<img style="width: 100%; max-width: none !important;" src="assets/templates/nexgeek/images/banner_1.jpg" />
		</section>

		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<blockquote style="border-left: none !important;">
						<p class="text-center">
							<b>Welkom in jouw loyalty shop!</b><br/>
							In deze loyalty shop vind je de leukste deals voor scherpe prijzen. Er zijn verschillende categorieën, dus voor ieder wat wils! Happy Shopping!
						</p>
					</blockquote>
				</div>
			</div>
		</div>

		<p class="text-center">
		<button class="btn" routerLink="/producten">Bekijk alle deals</button>
		</p>

		<div class="container" *ngIf="!useCategories">
			<div class="row">
				<div class="col-sm-12 main-col">
					<h2 class="section-title">Producten</h2>
					<div class="products">
						<div class="products-grid">
							<div class="grid_item col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products">
								<div class="product_image">
									<a [routerLink]="['/product', product.id]">
										<img [src]="product.image_url" alt="">
									</a>
									<div class="action-buttons">
										<a class="btn-action add-to-cart" (click)="addToCart(product)" title="Select Options">
											<span class="icon icon-cart" aria-hidden="true"></span>
										</a>
										<button type="button" class="btn-action btn-quickview" title="Product" [routerLink]="['/product', product.id]">
											<i class="fa fa-eye" aria-hidden="true"></i>
										</button>
									</div>
								</div>
								<div class="product_detail">
									<h3 class="product_name" style="min-height: 40px;">
										<a [routerLink]="['/product', product.id]">{{ product.title }}</a>
									</h3>
									<p>
										Van {{ product.retail_price | currency:'EUR':'true' }}
									</p>
									<p>
										<span class="product_price"><span>Voor {{ product.price_total_netto*1.21 | currency:'EUR':'true' }}</span></span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>

	</main>

</ng-container>
<ng-container *ngIf="globals.theme == 'mogo'">

	<main>

	    <div class="tt-layout tt-sticky-block__parent tt-layout__fullwidth">
	        <div class="tt-layout__content">

	            <div class="container" style="position: relative">
                <div class="overlay">
                  <h1>Amazing Christmas Deals!</h1>
                  <p>Hier koop je de leukste cadeaus met flinke kortingen voor de feestdagen.</p>
                  <a href="producten" class="btn">Start met shoppen</a>
                </div>
	            	<slideshow (click)="goToMainShop()" [imageUrls]="imageUrlArray"
	            			   [height]="'700px'"
          					   [minHeight]="'700px'"
							   [autoPlay]="imageUrlArray.length > 1 ? true : false"
							   [autoPlayInterval]="10000"
           					   [showArrows]="imageUrlArray.length > 1 ? true : false"
           					   [showDots]="imageUrlArray.length > 1 ? true : false">
                </slideshow>

	                <div class="tt-home__shipping-info-02">
	                    <div class="tt-shp-info tt-shp-info__design-02 tt-shp-info__align--left">
	                        <div class="row ttg-grid-padding--none ttg-grid-border ttg-grid-border-c--white">
                              <div class="col-lg-4">
                                <a class="tt-shp-info__section tt-shp-info__align--left ">
                                  <i class="icon-basket"></i>
                                  <div>
                                    <div class="tt-shp-info__strong">{{dealAmount}} Deals!</div>
                                    <p>Speciaal voor jou geselecteerd!</p>
                                  </div>
                                </a>
                              </div>
	                            <div class="col-lg-4">
	                                <a class="tt-shp-info__section tt-shp-info__align--left ">
	                                    <i class="icon-box"></i>
	                                    <div>
	                                        <div class="tt-shp-info__strong">Snelle levering</div>
	                                        <p>Voor 19:00 uur besteld, binnen 48 uur geleverd.</p>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="col-lg-4">
	                                <a class="tt-shp-info__section tt-shp-info__align--left ">
	                                    <i class="icon-thumbs-up-1"></i>
	                                    <div>
	                                        <div class="tt-shp-info__strong">Eenvoudig afrekenen</div>
	                                        <p>Betaal eenvoudig met iDeal en Bancontant.</p>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                    </div>
					</div>


					<div *ngIf="!globals.categoriesOnHome">

					</div>

	                <div *ngIf="globals.categoriesOnHome" class="container-fluid ttg-cont-padding--none">

                    	    <div class="row ttg-grid-padding--none">

	                        <div class="col-md-4 col-lg-4" *ngFor="let category of categories">
	                            <a class="tt-promobox tt-promobox__size-square ttg-text-animation-parent ttg-image-translate--right ttg-animation-disable--md tt-promobox__hover-disable--md">
	                                <div class="tt-promobox__content">
	                                    <img src="assets/templates/mogo/images/promoboxes/{{ category.parsed_name }}.jpg" alt="">
	                                    <div class="tt-promobox__text"
	                                         data-resp-md="md"
	                                         data-resp-sm="md"
	                                         data-resp-xs="sm">
	                                        <div><a href="javascript:void(0);" (click)="goToPage('categorie', category.id)">{{ category.name }}</a></div>
	                                    </div>

	                                    <div class="tt-promobox__hover tt-promobox__hover--up">
                                            <div class="tt-promobox__hover-bg
                                                        tt-promobox__hover-bg--visible
                                                        ttg-bg--theme">
                                            </div>
                                            <div class="tt-promobox__text
                                                        tt-promobox__point-lg--top
                                                        tt-promobox__point-lg--left">
                                                <a class="colorize-theme2-c" href="javascript:void(0)" (click)="goToPage('categorie', category.id)">{{ category.name }}</a>
                                                <ul>
                                                    <li *ngFor="let subcategory of category.subcategories">
                                                    	<a href="javascript:void(0)" (click)="goToPage('subcategorie', subcategory.id)">{{ subcategory.name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

	                                </div>
	                            </a>
	                        </div>

                    		</div>
                		</div>
	            </div>
	        </div>
	    </div>

	</main>


</ng-container>
