@import "~scss/variables.css";

.custom-bg {
	background-color: #f1f1f1;
	margin-bottom: 30px;
}

.flexing {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner {
	margin-top: 30px;
	background-color: var(--color-primary);
}

.banner h4 {
	color: white;
}

.show-coupon {
	color: var(--color-primary);
	font-weight: bold;
	font-size: 60px;
}

.remove-padder {
	padding-right: 0px !important;
}

.tt-promobox__hover.tt-promobox__hover--up {
    top: calc(100% - 0px);
}