<ng-container *ngIf="globals.theme == 'nexgeek'">

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main>
	
	    <div class="tt-layout tt-sticky-block__parent ">
	        <div class="tt-layout__content">
	            <div class="container">
	
	                <div class="tt-page__name text-center">
	                    <h1>Mijn account</h1>
	                </div>
	
	                <div class="tt-my-account">
	                    <div class="tt-my-account__tabs tt-tabs tt-layout__mobile-full" data-tt-type="vertical">
	                        <div class="tt-tabs__head">
	                            <div class="tt-tabs__slider">
	                                <div class="tt-tabs__btn" (click)="current = 'dashboard'"><span>Dashboard</span></div>
	                                <div class="tt-tabs__btn" (click)="current = 'personal-information'"><span>NAW-Gegevens</span></div>
	                                <div class="tt-tabs__btn" (click)="current = 'orders'"><span>Bestellingen</span></div>
	                                <div class="tt-tabs__btn" (click)="current = 'invoices'"><span>Facturen</span></div>
	                            </div>
	                            <div class="tt-tabs__btn-prev"></div>
	                            <div class="tt-tabs__btn-next"></div>
	                            <div class="tt-tabs__border"></div>
	                        </div>
	                        <div class="tt-tabs__body tt-tabs-my-account">
	                            <div [ngClass]="current === 'dashboard' ? 'show-account-section' : ''">
	                                <span>Dashboard <i class="icon-down-open"></i></span>
	                                <div class="tt-tabs__content">
	                                	<h4>Dashboard</h4>
	                                    <p class="ttg-mb--20">Welkom, {{ user.first_name }} {{ user.last_name }}.</p>
	                                    <p>Je huidige budget is nu: 
	                                    		<a *ngIf="showBudget" (click)="showBudget = false" href="javascript:void(0);" style="padding-left: 5px;"><b>{{ budget.value | currency:'EUR':'true' }}</b></a>
	                                    		<a *ngIf="!showBudget" (click)="showBudget = true" href="javascript:void(0);" style="padding-left: 5px;"><b>Klik hier om je budget op te halen.</b></a>
	                                    </p>
	                                    <p>
	                                    	Na een bestelling zal het budget verminderd worden het bedrag van de bestelling inclusief BTW en exclusief verzendkosten.
	                                    </p>
	                                    <p>Vanuit dit dashboard kun je jouw bestellingen inzien, facturen downloaden, je gegevens aanpassen en verzendingen volgen.</p>
	                                </div>
	                            </div>
	                            <div [ngClass]="current === 'orders' ? 'show-account-section' : ''">
	                                <span>Bestellingen <i class="icon-down-open"></i></span>
	                                <div class="tt-tabs__content">
	                                    <h4>Bestellingen</h4>
	                                    <div class="tt-tabs-my-account__table ttg-mb--30">
	                                        <table class="table">
	                                            <tr>
	                                                <th>Ordernummer</th>
	                                                <th>Datum</th>
	                                                <th>Status</th>
	                                                <th>Totaal</th>
	                                            </tr>
	                                            <tr *ngFor="let order of orders">
	                                                <td><a href="#">{{ order.Vbeln }}</a></td>
	                                                <td>{{ order.Erdat | date:'d-MM-yyyy' }}</td>
	                                                <td>Ontvangen bij GezamenlijkVoordeel</td>
	                                                <td>{{ order.Netwr | currency:'EUR':'true' }}</td>
	                                                <td class="text-right"><a (click)="selectOrder(order)">Bekijk</a></td>
	                                            </tr>
	                                        </table>
	                                    </div>
	                                    
	                                    <ng-container *ngIf="currentOrder">
	                                    
		                                    <h4>Bestelling #{{ currentOrder.Vbeln }}</h4>
		                                    <div class="tt-tabs-my-account__table ttg-mb--30">
		                                        <table class="table tt-tabs-my-account--table-sm">
<!-- 		                                            <tr> -->
<!-- 		                                                <th>Product</th> -->
<!-- 		                                                <th>Total</th> -->
<!-- 		                                            </tr> -->
<!-- 		                                            <tr> -->
<!-- 		                                                <td><a href="#">Nike Zoom Trail</a> x 1</td> -->
<!-- 		                                                <td>$40</td> -->
<!-- 		                                            </tr> -->
<!-- 		                                            <tr> -->
<!-- 		                                                <td class="ttg-color--gray-dark">Subtotal:</td> -->
<!-- 		                                                <td>$40</td> -->
<!-- 		                                            </tr> -->
<!-- 		                                            <tr> -->
<!-- 		                                                <td class="ttg-color--gray-dark">Shipping:</td> -->
<!-- 		                                                <td>Free Shipping</td> -->
<!-- 		                                            </tr> -->
<!-- 		                                            <tr> -->
<!-- 		                                                <td class="ttg-color--gray-dark">Payment Method:</td> -->
<!-- 		                                                <td>Cashon Delivery</td> -->
<!-- 		                                            </tr> -->
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Totaal:</td>
		                                                <td>{{ currentOrder.Netwr | currency:'EUR':'true' }}</td>
		                                            </tr>
		                                        </table>
		                                    </div>
		                                    <h4>Customer Details</h4>
		                                    <div class="tt-tabs-my-account__table ttg-mb--30">
		                                        <table class="table tt-tabs-my-account--table-sm">
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">E-mail:</td>
		                                                <td>Admin@localhost.dev</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Telephone:</td>
		                                                <td>888-8888888</td>
		                                            </tr>
		                                        </table>
		                                    </div>
		                                    <h4>Billing Address</h4>
		                                    <div class="tt-tabs-my-account__table ttg-mb--30">
		                                        <table class="table tt-tabs-my-account--table-sm">
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Country:</td>
		                                                <td>Lorem ipsum dolor sit amet conse ctetur</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Address:</td>
		                                                <td>Ut enim ad minim veniam, quis nostrud</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Town/City:</td>
		                                                <td>Eexercitation ullamco laboris nisi ut aliquip ex ea</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">State/Country:</td>
		                                                <td>Commodo consequat. Duis aute irure dol</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Postode/ZIP:</td>
		                                                <td>88888</td>
		                                            </tr>
		                                        </table>
		                                    </div>
		                                    <h4>Shipping Address</h4>
		                                    <div class="tt-tabs-my-account__table ttg-mb--30">
		                                        <table class="table tt-tabs-my-account--table-sm">
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Country:</td>
		                                                <td>Lorem ipsum dolor sit amet conse ctetur</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Address:</td>
		                                                <td>Ut enim ad minim veniam, quis nostrud</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Town/City:</td>
		                                                <td>Eexercitation ullamco laboris nisi ut aliquip ex ea</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">State/Country:</td>
		                                                <td>Commodo consequat. Duis aute irure dol</td>
		                                            </tr>
		                                            <tr>
		                                                <td class="ttg-color--gray-dark">Postode/ZIP:</td>
		                                                <td>88888</td>
		                                            </tr>
		                                        </table>
		                                    </div>
	                                    
	                                    </ng-container>
	                                    
	                                </div>
	                            </div>
	                            <div [ngClass]="current === 'invoices' ? 'show-account-section' : ''">
	                                <span>Downloads <i class="icon-down-open"></i></span>
	                                <div class="tt-tabs__content">
	                                    <h4>Downloads</h4>
	                                    <div class="tt-tabs-my-account__table ttg-mb--30">
	                                        <table class="table ttg-mb--30">
	                                            <tr>
	                                                <th>Bestand</th>
	                                            </tr>
	                                            <tr>
	                                                <td><a>Factuur 123</a></td>
	                                                <td class="text-right"><a href="#">Download</a></td>
	                                            </tr>
	                                        </table>
	                                    </div>
	                                </div>
	                            </div>
	                            <div [ngClass]="current === 'personal-information' ? 'show-account-section' : ''">
	                                <span>NAW-Gegevens <i class="icon-down-open"></i></span>
	                                <div class="tt-tabs__content">
	                                	<h4>NAW-Gegevens</h4>
	                                	<p>
	                                		Je e-mailadres, voornaam en achternaam kunnen niet aangepast worden, aangezien deze gebruikt zijn bij de validatie van de registratie. Mochten deze toch aangepast moeten worden, neem dan contact op met de backoffice.
	                                	</p>
	                                    <form action="#">
	                                        <div class="tt-form">
	                                            <div class="tt-form__form">
	                                            	<label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">E-mailadres:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.username" name="username" disabled>
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">Voornaam:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.first_name" name="first_name" disabled>
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">Achternaam:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.last_name" name="last_name" disabled>
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">Postcode:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.postal_code" name="postal_code">
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">Huisnummer:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.house_number" name="house_number">
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="">Huisnummertoevoeging:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.house_number_extension" name="house_number_extension">
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">Straat:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.street" name="street">
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">Woonplaats:</span></div>
	                                                        <div class="col-md-9">
	                                                            <input type="text" class="form-control colorize-theme6-bg" placeholder="" [(ngModel)]="user.city" name="city">
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                                <label>
	                                                    <div class="row">
	                                                        <div class="col-md-3"><span class="ttg__required">Land:</span></div>
	                                                        <div class="col-md-9">
	                                                            <div class="tt-select">
						                                            <select class="form-control" [(ngModel)]="user.country" name="country">
						                                                <option value="NL">Nederland</option>
						                                                <option value="BE">België</option>
						                                            </select>
						                                        </div>
	                                                        </div>
	                                                    </div>
	                                                </label>
	                                            </div>
	                                        </div>
	                                        <div class="tt-tabs-my-account__form ttg-mt--40">
	                                            <div class="tt-tabs-my-account__form_title">Wachtwoord veranderen</div>
	                                            <p>Huidige wachtwoord (laat leeg om onveranderd te laten)</p>
	                                            <input type="password" class="form-control" placeholder="">
	                                            <p>Nieuw wachtwoord (laat leeg om onveranderd te laten)</p>
	                                            <input type="password" class="form-control" placeholder="">
	                                            <p>Nieuw wachtwoord nogmaals (laat leeg om onveranderd te laten)</p>
	                                            <input type="password" class="form-control" placeholder="">
	                                        </div>
	                                        <button class="btn ttg-mt--40">Opslaan</button>
	                                    </form>
	                                </div>
	                            </div>
	                            <div [ngClass]="current === 'logout' ? 'show-account-section' : ''">
	                                <span>Logout <i class="icon-down-open"></i></span>
	                                <div class="tt-tabs__content">
	                                    <h4>Uitloggen</h4>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	
	</main>

</ng-container>