<ng-container *ngIf="globals.theme == 'nexgeek'">

	

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main>
	
	    <div class="tt-layout tt-sticky-block__parent ">
	        <div class="tt-layout__content">
	            <div class="container">
	                <div class="tt-page__breadcrumbs">
	                    <ul class="tt-breadcrumbs">
	                        <li><a href="index.html"><i class="icon-home"></i></a></li>
	                        <li><a href="index.html?page=listing-collections.html">Collections</a></li>
	                        <li><span>Audio</span></li>
	                    </ul>
	                </div>
	
	                <div class="tt-page__name text-center">
	                    <a href="index.html?page=login.html">Inloggen</a>
	                    <span>/</span>
	                    <h1>Registreren</h1>
	                </div>
	
	                <div class="tt-login">
	                    <div class="tt-login__title">
	                        <p>Persoonlijke informatie</p>
	                    </div>
	                    <form action="#">
	                        <div class="tt-form">
	                            <div class="tt-form__form">
	                            	   <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Global ID:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control"
	                                                   placeholder="Global ID...">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Voornaam:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control"
	                                                   placeholder="Voornaam...">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Achternaam:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control"
	                                                   placeholder="Achternaam...">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">E-mailadres:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control"
	                                                   placeholder="E-mailadres...">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Wachtwoord:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="password" class="form-control"
	                                                   placeholder="Wachtwoord...">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Wachtwoord nogmaals:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="password" class="form-control"
	                                                   placeholder="Wachtwoord nogmaals...">
	                                        </div>
	                                    </div>
	                                </label>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-md-9 offset-md-3 ttg-mt--40">
	                                <button type="submit" class="btn">Registreren</button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	
	</main>

</ng-container>