<ng-container *ngIf="globals.theme == 'nexgeek'">

	

</ng-container>

<ng-container *ngIf="globals.theme == 'mogo'">

	<!-- MAIN -->
	<main>
	
	    <div class="tt-layout tt-sticky-block__parent">
	        <div class="tt-layout__content">
	            <div class="container">
	                <div class="tt-page__name text-center">
	                    <a routerLink="/inloggen">
	                    	<ng-container *ngIf="globals.language == 'NL'">Inloggen</ng-container>
	                        <ng-container *ngIf="globals.language == 'EN'">Log In</ng-container>
	                    </a>
	                    <span>/</span>
	                    <h1>
							<ng-container *ngIf="globals.language == 'NL'">Registreren</ng-container>
	                        <ng-container *ngIf="globals.language == 'EN'">Register</ng-container>
						</h1>
	                </div>
					
	                <div class="tt-login">
	                
	                	<div class="text-center ttg-mb--30">
							<p>
								<ng-container *ngIf="globals.language == 'NL'">
									Via het onderstaande formulier kun je je registreren voor de Sony Staff Shop. Deze shop is enkel toegankelijk voor werknemers van Sony of een van de suborganisaties. <br/><br/>
									Registreren doe je met je zakelijke e-mailadres. Dit is het e-mailadres welke eindigt op '@sony.com'. Enkel met dit e-mailadres zal de registratie succesvol kunnen verlopen. <br/><br/>
									<b>Na de registratie zal er een validatie door een administrator uitgevoerd worden alvorens je als gebruiker toegang krijgt tot de shop.</b>
								</ng-container>
								<ng-container *ngIf="globals.language == 'EN'">
									With the form below you have the ability to register for the Sony Staff Shop. This shop is only accessible for employees working for Sony or one of the suborganizations. <br/><br/>
									Registering is best done with the business mailaddress. Usually this is the mailaddress that ends with '@sony.com'. Only with the use of the business mailaddress the validation can be executed succesfully, <br/><br/>
									<b>After the register process a validation will be executed by an administator before access to the shop is granted.</b>
								</ng-container>
							</p>
						</div>
	                
	                    <div class="tt-login__title">
	                        <p>
	                        	<ng-container *ngIf="globals.language == 'NL'">Account informatie</ng-container>
	                        	<ng-container *ngIf="globals.language == 'EN'">Account information</ng-container>
	                        </p>
	                    </div>
	                    <form #userForm="ngForm" style="box-sizing: border-box !important;">
	                        <div class="tt-contacts__form tt-form">
	                            <div class="tt-contacts__form_inputs tt-form__form">
	                            	<label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">
												<ng-container *ngIf="globals.language == 'NL'">Organisatie:</ng-container>
	                        					<ng-container *ngIf="globals.language == 'EN'">Organization:</ng-container>
											</span></div>
	                                        <div class="col-md-9">
	                                        	<div class="tt-select">
		                                            <select class="form-control colorize-theme6-bg" [(ngModel)]="user.organization" name="organization">
		                                            	<option value="" disabled="true" [selected]="!user.organization">
															<ng-container *ngIf="globals.language == 'NL'">Selecteer een organisatie...</ng-container>
	                        								<ng-container *ngIf="globals.language == 'EN'">Select an organization...</ng-container>
														</option>
		                                                <option *ngFor="let org of organizations" [value]="org.name">{{ org.name }}</option>
		                                            </select>
		                                        </div>
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">
	                                        	<ng-container *ngIf="globals.language == 'NL'">E-mailadres:</ng-container>
	                        					<ng-container *ngIf="globals.language == 'EN'">Mailaddress:</ng-container>
	                                        </span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.username" name="username" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">
	                                        	<ng-container *ngIf="globals.language == 'NL'">Wachtwoord:</ng-container>
	                        					<ng-container *ngIf="globals.language == 'EN'">Password:</ng-container>
	                                        </span></div>
	                                        <div class="col-md-9">
	                                            <input type="password" class="form-control colorize-theme6-bg" [(ngModel)]="user.password" name="password" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">
	                                        	<ng-container *ngIf="globals.language == 'NL'">Wachtwoord nogmaals:</ng-container>
	                        					<ng-container *ngIf="globals.language == 'EN'">Password again:</ng-container>
	                                        </span></div>
	                                        <div class="col-md-9">
	                                            <input type="password" class="form-control colorize-theme6-bg" [(ngModel)]="user.password2" name="password2" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <p *ngIf="user.password && user.password2 && user.password !== user.password2" class="ttg-mt--30 ttg-mb--30" style="color: white; background-color: indianred; padding: 10px;">
		                            	<i class="icon-cancel" style="color: white; padding-right: 10px;"></i>
		                            	<ng-container *ngIf="globals.language == 'NL'">De ingevulde wachtwoorden komen niet overeen.</ng-container>
                       					<ng-container *ngIf="globals.language == 'EN'">The filled passwords do not match.</ng-container>
		                            </p>
		                            
		                            <p *ngIf="user.password && user.password2 && user.password == user.password2" class="ttg-mt--30 ttg-mb--30" style="color: white; background-color: #1cc373; padding: 10px;">
                            			<i class="icon-ok-2" style="color: white; padding-right: 10px;"></i>
                            			<ng-container *ngIf="globals.language == 'NL'">De ingevulde wachtwoorden komen overeen :)</ng-container>
                       					<ng-container *ngIf="globals.language == 'EN'">The filled passwords match :)</ng-container>
		                            </p>
			                                
	                                <div class="tt-login__title">
	                        			<p>Persoonlijke informatie</p>
	                    			</div>
	                    			<label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Geslacht:</span></div>
	                                        <div class="col-md-9">
	                                        	<div class="tt-select">
		                                            <select class="form-control colorize-theme6-bg" [(ngModel)]="user.gender" name="gender">
		                                            	<option value="" disabled="true" [selected]="!user.gender">Selecteer een geslacht...</option>
		                                                <option value="male">Man</option>
		                                                <option value="female">Vrouw</option>
		                                                <option value="unknown">Overig</option>
		                                            </select>
		                                        </div>
	                                        </div>
	                                    </div>
	                                </label>
		                            <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Voornaam:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.first_name" name="first_name" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Achternaam:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.last_name" name="last_name" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Land:</span></div>
	                                        <div class="col-md-9">
	                                        	<div class="tt-select">
		                                            <select class="form-control colorize-theme6-bg" [(ngModel)]="user.country" name="country">
		                                            	<option value="" disabled="true" [selected]="!user.country">Selecteer een land...</option>
		                                                <option value="NL">Nederland</option>
		                                                <option value="BE">België</option>
		                                            </select>
		                                        </div>
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Postcode:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.postal_code" [formControl]="postalCodeControl" name="postal_code" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Huisnummer:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.house_number" [formControl]="houseNumberControl" name="house_number" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="">Huisnummer toevoeging:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.house_number_extension" [formControl]="houseNumberExtControl" name="house_number_extension" placeholder="">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Straat:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.street" name="street" [placeholder]="user.country == 'NL' ? 'Automatisch...' : ''">
	                                        </div>
	                                    </div>
	                                </label>
	                                <label>
	                                    <div class="row">
	                                        <div class="col-md-3"><span class="ttg__required">Woonplaats:</span></div>
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control colorize-theme6-bg" [(ngModel)]="user.city" name="city" [placeholder]="user.country == 'NL' ? 'Automatisch...' : ''">
	                                        </div>
	                                    </div>
	                                </label>
                                </div>
	                        </div>
	                        
                        	<p *ngIf="errorMsg" class="ttg-mt--30 ttg-mb--30" style="color: white; background-color: indianred; padding: 10px;">
                            	<i class="icon-cancel" style="color: white; padding-right: 10px;"></i>
                            	{{ errorMsg }}
                            </p>
                            <p *ngIf="successMsg" class="ttg-mt--30 ttg-mb--30" style="color: white; background-color: #1cc373; padding: 10px;">
                            	<i class="icon-ok-2" style="color: white; padding-right: 10px;"></i>
                            	{{ successMsg }}
                            </p>
	                        
	                        <div class="row">
	                            <div class="col-md-3 ttg-mt--40">
	                                <button type="submit" class="btn" [disabled]="!checkFields()" (click)="doRegister()" [promiseBtn]="registerPromise">Registreren</button>
	                            </div>
	                            <div *ngIf="mainErrorMsg" class="col-md-7 ttg-mt--40" style="color: indianred; border: 2px solid indianred; display: flex; align-items: center; justify-content: flex-start;">
	                            	<i class="icon-cancel" style="color: indianred; padding-right: 10px;"></i>
	                            	{{ mainErrorMsg }}
	                            </div>
	                        </div>
	                    </form>
	                    
	                </div>
	            </div>
	        </div>
	    </div>
	
	</main>

</ng-container>